@font-face {
    font-family: "symbols";
    src: url('../fonts/symbols.eot');
    src: url('../fonts/symbols.eot?#iefix') format('eot'),
    url('../fonts/symbols.woff2') format('woff2'),
    url('../fonts/symbols.woff') format('woff'),
    url('../fonts/symbols.ttf') format('truetype'),
    url('../fonts/symbols.svg#symbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.s-icon:before {
                    display: inline-block;
                    font-family: "symbols";
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

.s-icon-lg {
                    font-size: 1.3333333333333333em;
                    line-height: 0.75em;
                    vertical-align: -15%;
                }
.s-icon-2x { font-size: 2em; }
.s-icon-3x { font-size: 3em; }
.s-icon-4x { font-size: 4em; }
.s-icon-5x { font-size: 5em; }
.s-icon-fw {
                    width: 1.2857142857142858em;
                    text-align: center;
                }

.s-icon-active:before { content: "\EA01" }
.s-icon-add:before { content: "\EA02" }
.s-icon-camera-add:before { content: "\EA03" }
.s-icon-camera:before { content: "\EA04" }
.s-icon-cancel:before { content: "\EA05" }
.s-icon-check:before { content: "\EA06" }
.s-icon-cheveron-right:before { content: "\EA07" }
.s-icon-chevron-left:before { content: "\EA08" }
.s-icon-chevron-right:before { content: "\EA09" }
.s-icon-combined-shape:before { content: "\EA0A" }
.s-icon-cross:before { content: "\EA0B" }
.s-icon-crown:before { content: "\EA0C" }
.s-icon-edit-pencil:before { content: "\EA0D" }
.s-icon-heart:before { content: "\EA0E" }
.s-icon-invisible-hat:before { content: "\EA0F" }
.s-icon-messages:before { content: "\EA10" }
.s-icon-pad-lock:before { content: "\EA11" }
.s-icon-phone:before { content: "\EA12" }
.s-icon-phone2:before { content: "\EA13" }
.s-icon-photo-plus:before { content: "\EA14" }
.s-icon-photo:before { content: "\EA15" }
.s-icon-profile-moderation-canceled:before { content: "\EA16" }
.s-icon-profile-moderation-pending:before { content: "\EA17" }
.s-icon-profile-photo-warning:before { content: "\EA18" }
.s-icon-search:before { content: "\EA19" }
.s-icon-trash:before { content: "\EA1A" }
.s-icon-trial-account:before { content: "\EA1B" }
.s-icon-undo:before { content: "\EA1C" }
.s-icon-views:before { content: "\EA1D" }
.s-icon-writing-message:before { content: "\EA1E" }
.s-icon-zoom-in:before { content: "\EA1F" }