.fw-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fw-reset:hover, .fw-reset:active, .fw-reset:focus {
  text-decoration: none;
  outline: none;
}

.fw-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fw-block {
  display: block;
}

.fw-bg-color-purple {
  background-color: #ba78c0;
}

.fw-color-purple {
  color: #ba78c0;
}

.fw-bg-color-white {
  background-color: #fff;
}

.fw-color-white {
  color: #fff;
}

.fw-bg-color-red-light {
  background-color: #ff666f;
}

.fw-color-red-light {
  color: #ff666f;
}

.fw-bg-color-blue {
  background-color: #48abff;
}

.fw-color-blue {
  color: #48abff;
}

.fw-bg-color-gray {
  background-color: #9b9b9b;
}

.fw-color-gray {
  color: #9b9b9b;
}

.fw-bg-color-gray-light {
  background-color: #d8d8d8;
}

.fw-color-gray-light {
  color: #d8d8d8;
}

.fw-bg-color-green-light {
  background-color: #1bd355;
}

.fw-color-green-light {
  color: #1bd355;
}

.fw-bg-cover {
  background-size: cover;
}

.fw-bg-no-repeat {
  background-repeat: no-repeat;
}

.fw-bg-center {
  background-position: center center;
}

.fw-bg-fixed {
  background-attachment: fixed;
}

.fw-max-width-percent-100 {
  max-width: 100%;
}

.fw-width-auto {
  width: auto;
}

.fw-min-width-20 {
  min-width: 20px !important;
}

.fw-width-0 {
  width: 0px;
}

.fw-max-width-0 {
  max-width: 0px;
}

.fw-width-24 {
  width: 24px;
}

.fw-max-width-24 {
  max-width: 24px;
}

.fw-width-40 {
  width: 40px;
}

.fw-max-width-40 {
  max-width: 40px;
}

.fw-width-106 {
  width: 106px;
}

.fw-max-width-106 {
  max-width: 106px;
}

.fw-width-120 {
  width: 120px;
}

.fw-max-width-120 {
  max-width: 120px;
}

.fw-width-131 {
  width: 131px;
}

.fw-max-width-131 {
  max-width: 131px;
}

.fw-width-454 {
  width: 454px;
}

.fw-max-width-454 {
  max-width: 454px;
}

.fw-width-670 {
  width: 670px;
}

.fw-max-width-670 {
  max-width: 670px;
}

.fw-width-610 {
  width: 610px;
}

.fw-max-width-610 {
  max-width: 610px;
}

.fw-width-1-1 {
  width: 100%;
}

.fw-width-1-2 {
  width: 50%;
}

.fw-width-1-3 {
  width: 33.33333%;
}

.fw-width-2-3 {
  width: 66.66667%;
}

.fw-width-1-4 {
  width: 25%;
}

.fw-width-3-4 {
  width: 75%;
}

.fw-width-1-5 {
  width: 20%;
}

.fw-width-2-5 {
  width: 40%;
}

.fw-width-3-5 {
  width: 60%;
}

.fw-width-4-5 {
  width: 80%;
}

.fw-width-1-6 {
  width: 16.66667%;
}

.fw-width-5-6 {
  width: 83.33333%;
}

.fw-max-height-percent-100 {
  max-height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-0 {
  height: 0px;
}

.fw-max-height-0 {
  max-height: 0px;
}

.fw-min-height-0 {
  min-height: 0px;
}

.fw-height-20 {
  height: 20px;
}

.fw-max-height-20 {
  max-height: 20px;
}

.fw-min-height-20 {
  min-height: 20px;
}

.fw-height-24 {
  height: 24px;
}

.fw-max-height-24 {
  max-height: 24px;
}

.fw-min-height-24 {
  min-height: 24px;
}

.fw-height-40 {
  height: 40px;
}

.fw-max-height-40 {
  max-height: 40px;
}

.fw-min-height-40 {
  min-height: 40px;
}

.fw-height-106 {
  height: 106px;
}

.fw-max-height-106 {
  max-height: 106px;
}

.fw-min-height-106 {
  min-height: 106px;
}

.fw-height-120 {
  height: 120px;
}

.fw-max-height-120 {
  max-height: 120px;
}

.fw-min-height-120 {
  min-height: 120px;
}

.fw-height-166 {
  height: 166px;
}

.fw-max-height-166 {
  max-height: 166px;
}

.fw-min-height-166 {
  min-height: 166px;
}

.fw-height-131 {
  height: 131px;
}

.fw-max-height-131 {
  max-height: 131px;
}

.fw-min-height-131 {
  min-height: 131px;
}

.fw-grid {
  display: flex;
  flex-wrap: wrap;
}

.fw-grid-middle {
  align-items: center;
}

.fw-grid-center {
  justify-content: center;
}

.fw-grid-bottom {
  align-items: center;
}

.fw-grid-match {
  align-items: stretch;
}

.fw-grid-10 {
  margin-left: -10px;
  margin-bottom: -10px;
}
.fw-grid-10 > * {
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.fw-grid-20 {
  margin-left: -20px;
  margin-bottom: -20px;
}
.fw-grid-20 > * {
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.fw-margin-auto {
  margin: auto;
}

.fw-mt-auto {
  margin-top: auto;
}

.fw-mb-auto {
  margin-bottom: auto;
}

.fw-mr-auto {
  margin-right: auto;
}

.fw-ml-auto {
  margin-left: auto;
}

.fw-margin-0 {
  margin: 0px;
}

.fw-mt-0 {
  margin-top: 0px;
}

.fw-mb-0 {
  margin-bottom: 0px;
}

.fw-ml-0 {
  margin-left: 0px;
}

.fw-mr-0 {
  margin-right: 0px;
}

.fw-margin-5 {
  margin: 5px;
}

.fw-mt-5 {
  margin-top: 5px;
}

.fw-mb-5 {
  margin-bottom: 5px;
}

.fw-ml-5 {
  margin-left: 5px;
}

.fw-mr-5 {
  margin-right: 5px;
}

.fw-margin-9 {
  margin: 9px;
}

.fw-mt-9 {
  margin-top: 9px;
}

.fw-mb-9 {
  margin-bottom: 9px;
}

.fw-ml-9 {
  margin-left: 9px;
}

.fw-mr-9 {
  margin-right: 9px;
}

.fw-margin-10 {
  margin: 10px;
}

.fw-mt-10 {
  margin-top: 10px;
}

.fw-mb-10 {
  margin-bottom: 10px;
}

.fw-ml-10 {
  margin-left: 10px;
}

.fw-mr-10 {
  margin-right: 10px;
}

.fw-margin-12 {
  margin: 12px;
}

.fw-mt-12 {
  margin-top: 12px;
}

.fw-mb-12 {
  margin-bottom: 12px;
}

.fw-ml-12 {
  margin-left: 12px;
}

.fw-mr-12 {
  margin-right: 12px;
}

.fw-margin-13 {
  margin: 13px;
}

.fw-mt-13 {
  margin-top: 13px;
}

.fw-mb-13 {
  margin-bottom: 13px;
}

.fw-ml-13 {
  margin-left: 13px;
}

.fw-mr-13 {
  margin-right: 13px;
}

.fw-margin-15 {
  margin: 15px;
}

.fw-mt-15 {
  margin-top: 15px;
}

.fw-mb-15 {
  margin-bottom: 15px;
}

.fw-ml-15 {
  margin-left: 15px;
}

.fw-mr-15 {
  margin-right: 15px;
}

.fw-margin-20 {
  margin: 20px;
}

.fw-mt-20 {
  margin-top: 20px;
}

.fw-mb-20 {
  margin-bottom: 20px;
}

.fw-ml-20 {
  margin-left: 20px;
}

.fw-mr-20 {
  margin-right: 20px;
}

.fw-margin-25 {
  margin: 25px;
}

.fw-mt-25 {
  margin-top: 25px;
}

.fw-mb-25 {
  margin-bottom: 25px;
}

.fw-ml-25 {
  margin-left: 25px;
}

.fw-mr-25 {
  margin-right: 25px;
}

.fw-margin-28 {
  margin: 28px;
}

.fw-mt-28 {
  margin-top: 28px;
}

.fw-mb-28 {
  margin-bottom: 28px;
}

.fw-ml-28 {
  margin-left: 28px;
}

.fw-mr-28 {
  margin-right: 28px;
}

.fw-margin-30 {
  margin: 30px;
}

.fw-mt-30 {
  margin-top: 30px;
}

.fw-mb-30 {
  margin-bottom: 30px;
}

.fw-ml-30 {
  margin-left: 30px;
}

.fw-mr-30 {
  margin-right: 30px;
}

.fw-margin-33 {
  margin: 33px;
}

.fw-mt-33 {
  margin-top: 33px;
}

.fw-mb-33 {
  margin-bottom: 33px;
}

.fw-ml-33 {
  margin-left: 33px;
}

.fw-mr-33 {
  margin-right: 33px;
}

.fw-margin-35 {
  margin: 35px;
}

.fw-mt-35 {
  margin-top: 35px;
}

.fw-mb-35 {
  margin-bottom: 35px;
}

.fw-ml-35 {
  margin-left: 35px;
}

.fw-mr-35 {
  margin-right: 35px;
}

.fw-margin-40 {
  margin: 40px;
}

.fw-mt-40 {
  margin-top: 40px;
}

.fw-mb-40 {
  margin-bottom: 40px;
}

.fw-ml-40 {
  margin-left: 40px;
}

.fw-mr-40 {
  margin-right: 40px;
}

.fw-margin-53 {
  margin: 53px;
}

.fw-mt-53 {
  margin-top: 53px;
}

.fw-mb-53 {
  margin-bottom: 53px;
}

.fw-ml-53 {
  margin-left: 53px;
}

.fw-mr-53 {
  margin-right: 53px;
}

.fw-margin-64 {
  margin: 64px;
}

.fw-mt-64 {
  margin-top: 64px;
}

.fw-mb-64 {
  margin-bottom: 64px;
}

.fw-ml-64 {
  margin-left: 64px;
}

.fw-mr-64 {
  margin-right: 64px;
}

.fw-mt-inverse-0 {
  margin-top: -0px;
}

.fw-mb-inverse-0 {
  margin-bottom: -0px;
}

.fw-ml-inverse-0 {
  margin-left: -0px;
}

.fw-mr-inverse-0 {
  margin-right: -0px;
}

.fw-padding-0 {
  padding: 0px;
}

.fw-pt-0 {
  padding-top: 0px;
}

.fw-pb-0 {
  padding-bottom: 0px;
}

.fw-pl-0 {
  padding-left: 0px;
}

.fw-pr-0 {
  padding-right: 0px;
}

.fw-padding-5 {
  padding: 5px;
}

.fw-pt-5 {
  padding-top: 5px;
}

.fw-pb-5 {
  padding-bottom: 5px;
}

.fw-pl-5 {
  padding-left: 5px;
}

.fw-pr-5 {
  padding-right: 5px;
}

.fw-padding-8 {
  padding: 8px;
}

.fw-pt-8 {
  padding-top: 8px;
}

.fw-pb-8 {
  padding-bottom: 8px;
}

.fw-pl-8 {
  padding-left: 8px;
}

.fw-pr-8 {
  padding-right: 8px;
}

.fw-padding-10 {
  padding: 10px;
}

.fw-pt-10 {
  padding-top: 10px;
}

.fw-pb-10 {
  padding-bottom: 10px;
}

.fw-pl-10 {
  padding-left: 10px;
}

.fw-pr-10 {
  padding-right: 10px;
}

.fw-padding-12 {
  padding: 12px;
}

.fw-pt-12 {
  padding-top: 12px;
}

.fw-pb-12 {
  padding-bottom: 12px;
}

.fw-pl-12 {
  padding-left: 12px;
}

.fw-pr-12 {
  padding-right: 12px;
}

.fw-padding-13 {
  padding: 13px;
}

.fw-pt-13 {
  padding-top: 13px;
}

.fw-pb-13 {
  padding-bottom: 13px;
}

.fw-pl-13 {
  padding-left: 13px;
}

.fw-pr-13 {
  padding-right: 13px;
}

.fw-padding-14 {
  padding: 14px;
}

.fw-pt-14 {
  padding-top: 14px;
}

.fw-pb-14 {
  padding-bottom: 14px;
}

.fw-pl-14 {
  padding-left: 14px;
}

.fw-pr-14 {
  padding-right: 14px;
}

.fw-padding-15 {
  padding: 15px;
}

.fw-pt-15 {
  padding-top: 15px;
}

.fw-pb-15 {
  padding-bottom: 15px;
}

.fw-pl-15 {
  padding-left: 15px;
}

.fw-pr-15 {
  padding-right: 15px;
}

.fw-padding-20 {
  padding: 20px;
}

.fw-pt-20 {
  padding-top: 20px;
}

.fw-pb-20 {
  padding-bottom: 20px;
}

.fw-pl-20 {
  padding-left: 20px;
}

.fw-pr-20 {
  padding-right: 20px;
}

.fw-padding-28 {
  padding: 28px;
}

.fw-pt-28 {
  padding-top: 28px;
}

.fw-pb-28 {
  padding-bottom: 28px;
}

.fw-pl-28 {
  padding-left: 28px;
}

.fw-pr-28 {
  padding-right: 28px;
}

.fw-padding-30 {
  padding: 30px;
}

.fw-pt-30 {
  padding-top: 30px;
}

.fw-pb-30 {
  padding-bottom: 30px;
}

.fw-pl-30 {
  padding-left: 30px;
}

.fw-pr-30 {
  padding-right: 30px;
}

.fw-padding-38 {
  padding: 38px;
}

.fw-pt-38 {
  padding-top: 38px;
}

.fw-pb-38 {
  padding-bottom: 38px;
}

.fw-pl-38 {
  padding-left: 38px;
}

.fw-pr-38 {
  padding-right: 38px;
}

.fw-padding-40 {
  padding: 40px;
}

.fw-pt-40 {
  padding-top: 40px;
}

.fw-pb-40 {
  padding-bottom: 40px;
}

.fw-pl-40 {
  padding-left: 40px;
}

.fw-pr-40 {
  padding-right: 40px;
}

.fw-padding-50 {
  padding: 50px;
}

.fw-pt-50 {
  padding-top: 50px;
}

.fw-pb-50 {
  padding-bottom: 50px;
}

.fw-pl-50 {
  padding-left: 50px;
}

.fw-pr-50 {
  padding-right: 50px;
}

.fw-padding-54 {
  padding: 54px;
}

.fw-pt-54 {
  padding-top: 54px;
}

.fw-pb-54 {
  padding-bottom: 54px;
}

.fw-pl-54 {
  padding-left: 54px;
}

.fw-pr-54 {
  padding-right: 54px;
}

.fw-padding-72 {
  padding: 72px;
}

.fw-pt-72 {
  padding-top: 72px;
}

.fw-pb-72 {
  padding-bottom: 72px;
}

.fw-pl-72 {
  padding-left: 72px;
}

.fw-pr-72 {
  padding-right: 72px;
}

.fw-flex {
  display: flex;
}
.fw-flex > * {
  min-width: 0;
}
.fw-flex.fw-flex-column {
  flex-direction: column;
}
.fw-flex.fw-flex-row {
  flex-direction: row;
}
.fw-flex.fw-flex-wrap {
  flex-wrap: wrap;
}
.fw-flex.fw-flex-wrap-no {
  flex-wrap: nowrap;
}
.fw-flex.fw-flex-middle {
  align-items: center;
}
.fw-flex.fw-flex-baseline {
  align-items: baseline;
}
.fw-flex.fw-flex-top {
  align-items: flex-start;
}
.fw-flex.fw-flex-bottom {
  align-items: flex-end;
}
.fw-flex.fw-flex-center {
  justify-content: center;
}
.fw-flex.fw-flex-left {
  justify-content: flex-start;
}
.fw-flex.fw-flex-right {
  justify-content: flex-end;
}
.fw-flex.fw-flex-space-between {
  justify-content: space-between;
}
.fw-flex.fw-flex-space-around {
  justify-content: space-around;
}
.fw-flex .fw-flex-shrink-1 {
  flex-shrink: 1;
}
.fw-flex .fw-flex-grow-1 {
  flex-grow: 1;
}
.fw-flex .fw-flex-shrink-2 {
  flex-shrink: 2;
}
.fw-flex .fw-flex-grow-2 {
  flex-grow: 2;
}
.fw-flex .fw-flex-shrink-3 {
  flex-shrink: 3;
}
.fw-flex .fw-flex-grow-3 {
  flex-grow: 3;
}
.fw-flex .fw-flex-shrink-4 {
  flex-shrink: 4;
}
.fw-flex .fw-flex-grow-4 {
  flex-grow: 4;
}
.fw-flex .fw-flex-shrink-5 {
  flex-shrink: 5;
}
.fw-flex .fw-flex-grow-5 {
  flex-grow: 5;
}
.fw-flex .fw-flex-shrink-no {
  flex-shrink: 0;
}
.fw-flex .fw-flex-grow-no {
  flex-grow: 0;
}

.fw-flex-inline {
  display: inline-flex;
}

.fw-flex-basis-0 {
  flex-basis: 0;
}

.fw-flex-self-end {
  align-self: flex-end;
}

.fw-flex-self-center {
  align-self: center;
}

.fw-flex-self-middle {
  justify-self: center;
}

.fw-fz-0 {
  font-size: 0px;
}

.fw-fz-5 {
  font-size: 5px;
}

.fw-fz-12 {
  font-size: 12px;
}

.fw-fz-14 {
  font-size: 14px;
}

.fw-fz-16 {
  font-size: 16px;
}

.fw-fz-18 {
  font-size: 18px;
}

.fw-fz-19 {
  font-size: 19px;
}

.fw-fz-20 {
  font-size: 20px;
}

.fw-fz-22 {
  font-size: 22px;
}

.fw-fz-24 {
  font-size: 24px;
}

.fw-fz-25 {
  font-size: 25px;
}

.fw-fz-27 {
  font-size: 27px;
}

.fw-fz-28 {
  font-size: 28px;
}

.fw-fz-30 {
  font-size: 30px;
}

.fw-fz-35 {
  font-size: 35px;
}

.fw-fz-46 {
  font-size: 46px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-34 {
  line-height: 34px;
}

.fw-line-height-40 {
  line-height: 40px;
}

.fw-line-height-1-2 {
  line-height: 1.2;
}

.fw-line-height-1-3 {
  line-height: 1.3;
}

.fw-line-height-1-5 {
  line-height: 1.5;
}

.fw-line-height-1-7 {
  line-height: 1.7;
}

.fw-line-height-2 {
  line-height: 2;
}

.fw-line-height-1 {
  line-height: 1;
}

.fw-line-height-1-0 {
  line-height: 1.0;
}

.fw-line-height-0-88 {
  line-height: 0.88;
}

.fw-font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.fw-font-futura {
  font-family: futura, sans-serif, arial;
}

.fw-font-roboto {
  font-family: Roboto, sans-serif, arial;
}

.fw-font-robotocn {
  font-family: "Roboto Cn", sans-serif, arial;
}

.fw-font-light {
  font-weight: 300;
}

.fw-font-500 {
  font-weight: 500;
}

.fw-font-normal {
  font-weight: normal;
}

.fw-font-italic {
  font-style: italic;
}

.fw-font-bold {
  font-weight: bold;
}

.fw-font-semi-bold {
  font-weight: 600;
}

.fw-font-extra-bold {
  font-weight: 800;
}

.fw-text-300 {
  font-weight: 300;
}

.fw-text-400 {
  font-weight: normal;
}

.fw-text-500 {
  font-weight: 500;
}

.fw-text-600 {
  font-weight: 600;
}

.fw-text-800 {
  font-weight: 800;
}

.fw-border-none {
  border: none;
}

.fw-border-width-1 {
  border-width: 1px;
}

.fw-border-width-2 {
  border-width: 2px;
}

.fw-border-width-3 {
  border-width: 3px;
}

.fw-border-width-4 {
  border-width: 4px;
}

.fw-border-width-5 {
  border-width: 5px;
}

.fw-border-radius-3 {
  border-radius: 3px;
}

.fw-border-radius-percent-3 {
  border-radius: 3%;
}

.fw-border-radius-5 {
  border-radius: 5px;
}

.fw-border-radius-percent-5 {
  border-radius: 5%;
}

.fw-border-radius-7 {
  border-radius: 7px;
}

.fw-border-radius-percent-7 {
  border-radius: 7%;
}

.fw-border-radius-10 {
  border-radius: 10px;
}

.fw-border-radius-percent-10 {
  border-radius: 10%;
}

.fw-border-radius-20 {
  border-radius: 20px;
}

.fw-border-radius-percent-20 {
  border-radius: 20%;
}

.fw-border-radius-50 {
  border-radius: 50px;
}

.fw-border-radius-percent-50 {
  border-radius: 50%;
}

.fw-border-radius-60 {
  border-radius: 60px;
}

.fw-border-radius-percent-60 {
  border-radius: 60%;
}

.fw-border-color-purple {
  border-color: #ba78c0;
}

.fw-border-color-white {
  border-color: #fff;
}

.fw-border-color-red-light {
  border-color: #ff666f;
}

.fw-border-color-blue {
  border-color: #48abff;
}

.fw-border-color-gray {
  border-color: #9b9b9b;
}

.fw-border-color-gray-light {
  border-color: #d8d8d8;
}

.fw-border-color-green-light {
  border-color: #1bd355;
}

.fw-border-radius-bottom-none-10 {
  border-radius: 10px 10px 0 0;
}

.fw-border-radius-top-none-10 {
  border-radius: 0 0 10px 10px;
}

.fw-border-style-solid {
  border-style: solid;
}

.fw-border-style-solid-top {
  border-style: solid none none none;
}

.fw-border-style-solid-right {
  border-style: none solid none none;
}

.fw-border-style-solid-bottom {
  border-style: none none solid none;
}

.fw-border-style-solid-left {
  border-style: none none none solid;
}

.fw-border-style-dashed {
  border-style: dashed;
}

.fw-border-style-dashed-top {
  border-style: dashed none none none;
}

.fw-border-style-dashed-right {
  border-style: none dashed none none;
}

.fw-border-style-dashed-bottom {
  border-style: none none dashed none;
}

.fw-border-style-dashed-left {
  border-style: none none none dashed;
}

.fw-border-style-dotted {
  border-style: dotted;
}

.fw-border-style-dotted-top {
  border-style: dotted none none none;
}

.fw-border-style-dotted-right {
  border-style: none dotted none none;
}

.fw-border-style-dotted-bottom {
  border-style: none none dotted none;
}

.fw-border-style-dotted-left {
  border-style: none none none dotted;
}

.fw-border-box {
  box-sizing: border-box;
}

.fw-hidden {
  display: none;
}

.fw-overflow-auto {
  overflow: auto;
}

.fw-visible {
  display: block;
}

.fw-clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.fw-float-left {
  float: left;
}

.fw-float-right {
  float: right;
}

.fw-text-capitalize {
  text-transform: capitalize;
}

.fw-text-lowercase {
  text-transform: lowercase;
}

.fw-text-uppercase {
  text-transform: uppercase;
}

.fw-text-decoration-none {
  text-decoration: none;
}

.fw-text-underline {
  text-decoration: underline;
}

.fw-text-underline-hover {
  text-decoration: none;
}
.fw-text-underline-hover:hover {
  text-decoration: underline;
}

.fw-text-line-through {
  text-decoration: line-through;
}

.fw-text-line-through-hover {
  text-decoration: none;
}
.fw-text-line-through-hover:hover {
  text-decoration: line-through;
}

.fw-text-dashed {
  text-decoration: dashed;
}

.fw-text-dashed-hover {
  text-decoration: none;
}
.fw-text-dashed-hover:hover {
  text-decoration: dashed;
}

.fw-text-center {
  text-align: center;
}

.fw-text-left {
  text-align: left;
}

.fw-text-right {
  text-align: right;
}

.fw-text-capitalize {
  text-transform: capitalize;
}

.fw-opacity-5 {
  opacity: 0.5;
}

.fw-opacity-7 {
  opacity: 0.7;
}

.fw-bottom-25-px {
  bottom: 25px;
}

.fw-dashed-link {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
.fw-dashed-link:hover {
  border-color: transparent;
}

.fw-absolute {
  position: absolute;
}

.fw-relative {
  position: relative;
}

.fw-box-proportional-56 {
  position: relative;
}
.fw-box-proportional-56::after {
  display: block;
  content: "";
  padding-top: 56%;
}
.fw-box-proportional-56 > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fw-box-proportional-45 {
  position: relative;
}
.fw-box-proportional-45::after {
  display: block;
  content: "";
  padding-top: 45%;
}
.fw-box-proportional-45 > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fw-top-0 {
  top: 0px;
}

.fw-top-10 {
  top: 10px;
}

.fw-top-20 {
  top: 20px;
}

.fw-top-100-percent {
  top: 100%;
}

.fw-bottom-0 {
  bottom: 0px;
}

.fw-bottom-7 {
  bottom: 7px;
}

.fw-bottom-10 {
  bottom: 10px;
}

.fw-bottom-28 {
  bottom: 28px;
}

.fw-bottom-70 {
  bottom: 70px;
}

.fw-bottom-100-percent {
  bottom: 100%;
}

.fw-left-0 {
  left: 0px;
}

.fw-left-10 {
  left: 10px;
}

.fw-left-100-percent {
  left: 100%;
}

.fw-right-0 {
  right: 0px;
}

.fw-right-7 {
  right: 7px;
}

.fw-right-13 {
  right: 13px;
}

.fw-right-15 {
  right: 15px;
}

.fw-right-18 {
  right: 18px;
}

.fw-right-26 {
  right: 26px;
}

.fw-right-100-percent {
  right: 100%;
}

.fw-box-shadow {
  border: solid 1px #ececec;
}

.fw-transition {
  transition: all 0.3s ease;
}

.fw-z-index-1 {
  z-index: 1;
}

.fw-z-index-9999 {
  z-index: 9999;
}

.fw-text-nowrap {
  white-space: nowrap;
}

.fw-list-style-none {
  list-style: none;
}

.fw-gradient-red-purple {
  background-image: linear-gradient(to right, #f23131, #bc16e1);
}

.fw-gradient-red-purple-right {
  background-image: linear-gradient(to right, #f23131, #bc16e1);
}

.fw-overflow-hidden {
  overflow: hidden;
}

.fw-remove-br br {
  display: none;
}

.fw-no-wrap {
  white-space: nowrap;
}

.fw-object-cover {
  object-fit: cover;
}

.fw-opacity-4 {
  opacity: 0.4;
}

@font-face {
  font-family: "TruthCYR-r";
  src: url("../fonts/TruthCYR-Regular.woff");
}
@font-face {
  font-family: "TruthCYR";
  src: url("../fonts/TruthCYR-Light.woff");
}
@font-face {
  font-family: "TruthCYR-M";
  src: url("../fonts/TruthCYR-Medium.woff");
}
.icon-photo-mask0 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -951px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask0 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -879px;
    height: 70px;
    width: 70px;
  }
}

.icon-photo-mask1 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1026px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask1 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -951px;
    height: 70px;
    width: 70px;
  }
}

.icon-photo-mask2 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1101px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask2 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1024px;
    height: 70px;
    width: 70px;
  }
}

.icon-photo-mask3 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1176px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask3 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1096px;
    height: 70px;
    width: 70px;
  }
}

.icon-photo-mask4 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1251px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask4 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1169px;
    height: 70px;
    width: 70px;
  }
}

.icon-photo-mask5 {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1326px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask5 {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1241px;
    height: 70px;
    width: 70px;
  }
}

.icon-reg-camera {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1663px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-camera {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1563px;
    height: 43px;
    width: 52px;
  }
}

.icon-mask-delete {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -517px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-delete {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -475px;
    height: 26px;
    width: 26px;
  }
}

.icon-mask-crop {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -548px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-crop {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -503px;
    height: 26px;
    width: 26px;
  }
}

.icon-new-reg-success {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1711px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-new-reg-success {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1609px;
    height: 60px;
    width: 60px;
  }
}

.icon-new-reg-present {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -860px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-new-reg-present {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -795px;
    height: 42px;
    width: 49px;
  }
}

.icon-confidence {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -35px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-confidence {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -33px;
    height: 40px;
    width: 140px;
  }
}

.icon-download-appstore {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -160px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-download-appstore {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -145px;
    height: 40px;
    width: 135px;
  }
}

.icon-download-google-play {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -205px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 135px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-download-google-play {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -188px;
    height: 40px;
    width: 135px;
  }
}

.multi-select-emitation__icon-detection:before {
  display: inline-block;
  content: "";
  height: 8px;
  width: 12px;
  border-left: 3px solid #9e4fa6;
  border-bottom: 3px solid #9e4fa6;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
}

.icon-registration-preloader {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1776px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  -webkit-animation: spin 5s infinite;
  animation: spin 4s infinite;
  animation-timing-function: linear;
  z-index: 501;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-registration-preloader {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1671px;
    height: 44px;
    width: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
  }
}

.icon-purple-arrow-down {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid transparent;
  border-top: 6px solid #b978bf;
  position: relative;
  top: 1px;
}

.icon-purple-arrow-up {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid transparent;
  border-bottom: 6px solid #b978bf;
  position: relative;
  top: -5px;
}

.icon-mailonline-logo {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -304px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mailonline-logo {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -277px;
    height: 36px;
    width: 217px;
  }
}

.icon-wmj-logo {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1871px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-wmj-logo {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1761px;
    height: 44px;
    width: 176px;
  }
}

.icon-metro-logo {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -744px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-metro-logo {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -684px;
    height: 46px;
    width: 129px;
  }
}

.icon-tatler-logo {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1825px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-tatler-logo {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1718px;
    height: 41px;
    width: 148px;
  }
}

.icon-photo-mask-moderation {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -928px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask-moderation {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -858px;
    height: 18px;
    width: 18px;
  }
}

.icon-plate-notice {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -907px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-plate-notice {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -840px;
    height: 16px;
    width: 16px;
  }
}

.icon-big-photo-mask-moderation {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-big-photo-mask-moderation {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 0;
    height: 30px;
    width: 30px;
  }
}

.icon-purple-question {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1590px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-purple-question {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1495px;
    height: 20px;
    width: 20px;
  }
}

.icon-reg-video {
  background-image: url('../../sass_images/reg-popup-vedeo-bg.jpg?1524655467');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 253px 146px;
  width: 253px;
  height: 146px;
  display: inline-block;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-reg-video {
    background-image: url('../../sass_images/reg-popup-vedeo-bg@2x.jpg?1524655467');
  }
}

.icon-premium-crown {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -1401px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 96px;
  width: 103px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-crown {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -1314px;
    height: 96px;
    width: 103px;
  }
}

.icon-man-popup-comments {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -345px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-man-popup-comments {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -315px;
    height: 43px;
    width: 54px;
  }
}

.icon-man-popup-settings {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -437px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-man-popup-settings {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -402px;
    height: 41px;
    width: 47px;
  }
}

.icon-man-popup-directions {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -393px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-man-popup-directions {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -361px;
    height: 39px;
    width: 44px;
  }
}

.icon-premium-notify-star {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -288px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 11px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-notify-star {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -263px;
    height: 11px;
    width: 11px;
  }
}

.icon-crop-success {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -145px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-crop-success {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -133px;
    height: 10px;
    width: 14px;
  }
}

.icon-crop-cross {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -80px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-crop-cross {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -75px;
    height: 14px;
    width: 13px;
  }
}

.icon-mask-rotate-right {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -711px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 28px;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-rotate-right {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -654px;
    height: 28px;
    width: 28px;
  }
}

.icon-mask-rotate-left {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -678px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 28px;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-rotate-left {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -623px;
    height: 28px;
    width: 28px;
  }
}

.icon-crop-right {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -122px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-crop-right {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -112px;
    height: 18px;
    width: 17px;
  }
}

.icon-crop-left {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -99px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-crop-left {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -92px;
    height: 18px;
    width: 17px;
  }
}

.icon-image-slider-small {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -273px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-image-slider-small {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -251px;
    height: 10px;
    width: 10px;
  }
}

.icon-image-slider-medium {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -250px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-image-slider-medium {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -230px;
    height: 18px;
    width: 18px;
  }
}

.icon-moderation__big {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -795px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-moderation__big {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -733px;
    height: 60px;
    width: 60px;
  }
}

.icon-premium-present {
  background-image: url('../../sass_images/icons-s16f53748dc.png');
  background-position: 0 -860px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-present {
    background-image: url('../../sass_images/icons-2x-se0ca870f14.png');
    background-size: 217px auto;
    background-position: 0 -795px;
    height: 42px;
    width: 49px;
  }
}

.icon-wallet-menu-vip {
  font-size: 10px;
  color: #ea515b;
  font-family: TruthCYR-M;
  border-radius: 3px;
  border: 1px solid #ea515b;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 3px;
}

.icon-wallet-lock {
  width: 60px;
  height: 40px;
  position: relative;
  background: #ccc;
  display: inline-block;
  border-radius: 3px;
}
.icon-wallet-lock:after {
  display: block;
  position: absolute;
  border: 8px solid #ccc;
  height: 60px;
  width: 40px;
  border-radius: 50px;
  content: "";
  top: -25px;
  left: 50%;
  margin-left: -20px;
}

/*# sourceMappingURL=app.css.map */
