.icon-premium-crown {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1213px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 81px;
  width: 86px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-crown {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1213px;
    height: 81px;
    width: 86px;
  }
}

.icon-premium-chat {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1165px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-chat {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1165px;
    height: 43px;
    width: 54px;
  }
}

.icon-premium-settings {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1422px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-settings {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1422px;
    height: 41px;
    width: 47px;
  }
}

.icon-premium-arrows {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1121px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-arrows {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1121px;
    height: 39px;
    width: 44px;
  }
}

.icon-premium-feedbacks {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1299px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 118px;
  width: 106px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-feedbacks {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1299px;
    height: 118px;
    width: 106px;
  }
}

.icon-infoplate-warn {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -453px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-infoplate-warn {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -453px;
    height: 16px;
    width: 16px;
  }
}

.icon-upload-item {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2178px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-upload-item {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2178px;
    height: 36px;
    width: 44px;
  }
}

.icon-mask-placeholder {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -495px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 161px;
  width: 218px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-placeholder {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -495px;
    height: 161px;
    width: 218px;
  }
}
.icon-reg-success {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1864px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-success {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1864px;
    height: 46px;
    width: 46px;
  }
}
.icon-reg-question {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1839px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-question {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1839px;
    height: 20px;
    width: 20px;
  }
}
.icon-reg-appstore {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1565px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-appstore {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1565px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-googleplay {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1655px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-googleplay {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1655px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-confidence {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1610px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-confidence {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1610px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-present {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1792px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-present {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1792px;
    height: 42px;
    width: 49px;
  }
}
.icon-reg-mailonline {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1700px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-mailonline {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1700px;
    height: 36px;
    width: 217px;
  }
}
.icon-reg-metro {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1741px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-metro {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1741px;
    height: 46px;
    width: 129px;
  }
}
.icon-reg-wmj {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1961px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-wmj {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1961px;
    height: 44px;
    width: 176px;
  }
}
.icon-reg-tatler {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1915px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-tatler {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1915px;
    height: 41px;
    width: 148px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -751px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -751px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-crop-mask {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -380px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-mask {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -380px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-delete-mask {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -426px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-delete-mask {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -426px;
    height: 22px;
    width: 22px;
  }
}
.icon-reg-video {
  background-image: url('../../sass_images/icon-reg-video.jpg?1524730954');
  background-size: cover;
  height: 146px;
  width: 253px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-reg-video {
    background-image: url('../../sass_images/icon-reg-video@2x.jpg?1524730954');
    background-size: 253px 146px;
  }
}
.icon-reg-crop-edit {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -312px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
  position: absolute;
  top: -10px;
  left: -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-edit {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -312px;
    height: 23px;
    width: 22px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -751px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -751px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
  }
}

.icon-photo-mask1 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -846px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask1 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -846px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask2 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -901px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask2 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -901px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask3 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -956px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask3 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -956px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask4 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1011px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask4 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1011px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask5 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1066px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask5 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1066px;
    height: 50px;
    width: 50px;
  }
}

.icon-webmoney {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2265px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-webmoney {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2265px;
    height: 36px;
    width: 37px;
  }
}

.icon-yad {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2306px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 23px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-yad {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2306px;
    height: 32px;
    width: 23px;
  }
}

.icon-bitcoin {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-bitcoin {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -256px;
    height: 32px;
    width: 32px;
  }
}

.icon-alphaclick {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-alphaclick {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -180px;
    height: 32px;
    width: 21px;
  }
}

.icon-prombank {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1485px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-prombank {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1485px;
    height: 34px;
    width: 34px;
  }
}

.icon-sber {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2059px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sber {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2059px;
    height: 30px;
    width: 34px;
  }
}

.icon-qiwi {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -1524px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-qiwi {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -1524px;
    height: 36px;
    width: 34px;
  }
}

.icon-mts {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -807px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mts {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -807px;
    height: 34px;
    width: 34px;
  }
}

.icon-beeline {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-beeline {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -217px;
    height: 34px;
    width: 34px;
  }
}

.icon-megafon {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -661px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-megafon {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -661px;
    height: 34px;
    width: 34px;
  }
}

.icon-tele2 {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2158px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-tele2 {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2158px;
    height: 15px;
    width: 40px;
  }
}

.icon-sms {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2121px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sms {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2121px;
    height: 32px;
    width: 32px;
  }
}

.icon-visa-mc {
  background-image: url('../../sass_images/icons-sf31bc5fe87.png');
  background-position: 0 -2219px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-visa-mc {
    background-image: url('../../sass_images/icons-2x-sd4edb4d808.png');
    background-size: 218px auto;
    background-position: 0 -2219px;
    height: 41px;
    width: 34px;
  }
}

.icon-arrow-right-grey {
  width: 10px;
  height: 10px;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/*# sourceMappingURL=icons.css.map */
