/* NEW LANGS CSS STARTS */
.no-registrated__lang-wrapper {
  line-height: 35px;
  font-family: "TruthCYR-R";
  font-size: 15px;
  cursor: pointer;
}

.-icon-lang {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.-icon-lang.lang__b-g {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__b-g {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 0;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__b-y {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -20px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__b-y {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -20px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__c-n {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -40px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__c-n {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -40px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__d-e {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -60px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__d-e {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -60px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__e-e {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -80px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__e-e {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -80px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__e-s {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -100px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__e-s {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -100px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__f-r {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -120px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__f-r {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -120px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__i-l {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -140px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__i-l {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -140px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__i-t {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -160px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__i-t {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -160px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__p-t {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1856px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__p-t {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1856px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__r-u {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1876px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__r-u {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1876px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__t-r {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1896px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__t-r {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1896px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__u-a {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1916px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 22px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__u-a {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1916px;
    height: 15px;
    width: 22px;
  }
}
.-icon-lang.lang__u-s {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1936px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 23px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .-icon-lang.lang__u-s {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1936px;
    height: 15px;
    width: 23px;
  }
}

.-icon-carret-down {
  display: inline-block;
  vertical-align: middle;
  border: 5px solid transparent;
  border-top: 5px solid #ccc;
  position: relative;
  margin-left: 5px;
  top: 1px;
}

.langs-listing {
  padding: 0;
  margin: 0;
}

.langs-item {
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.langs-item.active {
  position: relative;
}
.langs-item.active:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 15px;
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -361px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .langs-item.active:after {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -361px;
    height: 16px;
    width: 16px;
  }
}
.langs-item:last-child {
  border-bottom: none;
}

.langs-link {
  display: block;
  line-height: 45px;
  font-size: 18px;
  font-family: "TruthCYR-R";
  padding: 0 35px 0 15px;
}

.langs-link__icon-wrap {
  width: 22px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 2px;
  background: #fff;
  font-size: 0;
  line-height: 0;
}

.icon-secured {
  vertical-align: middle;
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1788px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 18px;
  display: inline-block;
  margin-right: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-secured {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1788px;
    height: 22px;
    width: 18px;
  }
}

.secure-text {
  color: #fff;
  background: #000;
  font-size: 13px;
}
.secure-text__inner {
  padding: 10px;
  width: 100%;
  text-decoration: underline;
  display: block;
}
.secure-text__inner:hover {
  text-decoration: none;
}

.--langs-popup__body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #fff;
  z-index: 1000;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.--langs-popup__body.active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}

/* NEW LANGS CSS ENDS */
/* profile photo moderation */
.profile_photo_carousel__profile_page {
  position: relative;
}

.profile-carousel__photo-moderation {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  z-index: 20;
  color: #fff;
  font-size: 14px;
}
.profile-carousel__photo-moderation p {
  margin-bottom: 0;
}

.profile-carousel__photo-moderation__title {
  color: #10c899;
}

.profile-carousel__photo-moderation__title {
  color: #000;
}

.icon-photo-on-moderation {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -630px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-on-moderation {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -630px;
    height: 20px;
    width: 20px;
  }
}

.carousel-indicators {
  position: static;
  margin: 0 0 10px;
  width: 100%;
}

.profile-carousel__bottom-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile_photo_carousel__profile_page .carousel-indicators li {
  background: #f7f7f7;
  opacity: 1;
  width: 8px;
  height: 8px;
}
.profile_photo_carousel__profile_page .carousel-indicators li.active {
  background: #df6466;
  width: 8px;
  height: 8px;
}

.icon-photo-premoderation {
  background-image: url('../../sass_images/icons-sec13814d91.png');
  background-position: 0 -1277px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  top: -1px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-premoderation {
    background-image: url('../../sass_images/icons-2x-s48506b1ac8.png');
    background-size: 218px auto;
    background-position: 0 -1277px;
    height: 12px;
    width: 12px;
  }
}

.photo-premoderation__title {
  margin-bottom: 10px;
}

.image-full-width {
  width: 100%;
}

/*# sourceMappingURL=langs.css.map */
