{##}
    <div class="mobile-popup fw-absolute fw-left-0 fw-top-0">

        <div class="new-mobile-profile__close-load-popup js-new-profile-close-this-popup-button fw-relative fw-width-1-1 fw-pb-15">
            <div class="new-profile__close-photo-popup fw-flex fw-flex-right fw-right-0 fw-top-0">
                <span class="new-profile__close--close-load fw-relative"></span>
            </div>
        </div>

        <div class="new-mobile-profile-block-images fw-width-131 fw-height-131 fw-relative fw-margin-auto">
            <img src="http://placehold.it/200x200" class="fw-width-1-1 fw-height-1-1" alt="">

            <span class="icomoon icomoon-profile-photo-warning fw-absolute fw-right-0 fw-bottom-10 fw-fz-30">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
        </div>

        <p class="fw-text-center fw-fz-16 fw-mt-30 fw-mb-10 fw-line-height-25">Основное фото не прошло модерацию.</p>
        <p class="fw-text-center fw-fz-14 fw-mt-30 fw-mb-10 fw-line-height-25">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem doloribus earum, nemo pariatur provident quaerat recusandae reiciendis rem sed sequi veritatis vitae, voluptatibus. Dicta dolor, dolore fuga fugit impedit odio porro quasi temporibus? Architecto culpa fugiat, iure reprehenderit repudiandae ullam. Aperiam architecto assumenda cumque deserunt dicta, dolores dolorum fuga fugit hic natus necessitatibus non nulla praesentium quibusdam, quisquam, quos reprehenderit suscipit tenetur? Aliquid architecto cupiditate doloremque doloribus ipsam ipsum laudantium molestias nesciunt sed. Architecto, asperiores at blanditiis consequuntur cum debitis deleniti ex impedit laborum laudantium libero minus nostrum possimus praesentium provident suscipit velit vero voluptas? Inventore nesciunt placeat repellat.
        </p>

        <div class="new-mobile-profile-rules-line fw-mb-20">
            <p class="fw-text-center fw-fz-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptatem!</p>
            <div class="fw-flex fw-flex-space-between fw-flex-top">
                <div class="fw-border-radius-7 fw-width-120"><img src="" class="fw-width-1-1 fw-height-1-1" alt=""></div>
                <div class="fw-border-radius-7 fw-width-120"><img src="" class="fw-width-1-1 fw-height-1-1" alt=""></div>
            </div>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid cumque dolore error ipsam laudantium, optio repellendus soluta ut veritatis.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, veritatis.
        </p>

        <button>добавить основное фото</button>


    </div>
</div>