<header class="site_top_header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header dib">
                <button type="button" class="navbar-toggle collapsed" data-call-popup="#profile_submenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="/" class="dib page_title_header vam ffr purple_title">
                Анкета
            </a>

            <div class="dib r_bl right_add_menu"><a href="/messages#!#dialogs" class="icon mail_icon_menu icon-mail"><span class="msg_number unread-messages" style="display: none;">0</span></a></div>
        </div>
    </nav>

</header>