.icon-premium-crown {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1649px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 81px;
  width: 86px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-crown {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1649px;
    height: 81px;
    width: 86px;
  }
}

.icon-premium-chat {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1601px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 43px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-chat {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1601px;
    height: 43px;
    width: 54px;
  }
}

.icon-premium-settings {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1858px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 47px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-settings {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1858px;
    height: 41px;
    width: 47px;
  }
}

.icon-premium-arrows {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1557px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  width: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-arrows {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1557px;
    height: 39px;
    width: 44px;
  }
}

.icon-premium-feedbacks {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1735px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 118px;
  width: 106px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-premium-feedbacks {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1735px;
    height: 118px;
    width: 106px;
  }
}

.icon-infoplate-warn {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -649px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-infoplate-warn {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -649px;
    height: 16px;
    width: 16px;
  }
}

.icon-upload-item {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2743px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-upload-item {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2743px;
    height: 36px;
    width: 44px;
  }
}

.icon-mask-placeholder {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -756px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 161px;
  width: 218px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-placeholder {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -756px;
    height: 161px;
    width: 218px;
  }
}
.icon-reg-success {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2429px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 46px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-success {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2429px;
    height: 46px;
    width: 46px;
  }
}
.icon-reg-question {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2404px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-question {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2404px;
    height: 20px;
    width: 20px;
  }
}
.icon-reg-appstore {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2025px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-appstore {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2025px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-googleplay {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2220px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-googleplay {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2220px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-confidence {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 140px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-confidence {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2175px;
    height: 40px;
    width: 140px;
  }
}
.icon-reg-present {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2357px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  width: 49px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-present {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2357px;
    height: 42px;
    width: 49px;
  }
}
.icon-reg-mailonline {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2265px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 217px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-mailonline {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2265px;
    height: 36px;
    width: 217px;
  }
}
.icon-reg-metro {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2306px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  width: 129px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-metro {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2306px;
    height: 46px;
    width: 129px;
  }
}
.icon-reg-wmj {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2526px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 176px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-wmj {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2526px;
    height: 44px;
    width: 176px;
  }
}
.icon-reg-tatler {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2480px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-tatler {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2480px;
    height: 41px;
    width: 148px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1012px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1012px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-crop-mask {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -513px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-mask {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -513px;
    height: 26px;
    width: 26px;
  }
}
.icon-reg-delete-mask {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -559px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-delete-mask {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -559px;
    height: 22px;
    width: 22px;
  }
}
.icon-reg-video {
  background-image: url('../images/icon-reg-video.jpg?1484538938');
  background-size: cover;
  background-size: cover;
  height: 146px;
  width: 253px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-reg-video {
    background-image: url('../images/icon-reg-video@2x.jpg?1484538938');
  }
}
.icon-reg-crop-edit {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -445px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 22px;
  position: absolute;
  top: -10px;
  left: -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-crop-edit {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -445px;
    height: 23px;
    width: 22px;
  }
}
.icon-reg-moderation-middle {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1012px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-moderation-middle {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1012px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
  }
}

.icon-photo-mask1 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1282px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask1 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1282px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask2 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1337px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask2 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1337px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask3 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1392px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask3 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1392px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask4 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1447px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask4 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1447px;
    height: 50px;
    width: 50px;
  }
}

.icon-photo-mask5 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1502px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-mask5 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1502px;
    height: 50px;
    width: 50px;
  }
}

.icon-webmoney {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2830px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 37px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-webmoney {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2830px;
    height: 36px;
    width: 37px;
  }
}

.icon-yad {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2871px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 23px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-yad {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2871px;
    height: 32px;
    width: 23px;
  }
}

.icon-bitcoin {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-bitcoin {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -256px;
    height: 32px;
    width: 32px;
  }
}

.icon-alphaclick {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -180px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-alphaclick {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -180px;
    height: 32px;
    width: 21px;
  }
}

.icon-prombank {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1921px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-prombank {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1921px;
    height: 34px;
    width: 34px;
  }
}

.icon-sber {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2624px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sber {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2624px;
    height: 30px;
    width: 34px;
  }
}

.icon-qiwi {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1960px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-qiwi {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1960px;
    height: 36px;
    width: 34px;
  }
}

.icon-mts {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1068px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mts {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1068px;
    height: 34px;
    width: 34px;
  }
}

.icon-beeline {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -217px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-beeline {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -217px;
    height: 34px;
    width: 34px;
  }
}

.icon-megafon {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -922px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-megafon {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -922px;
    height: 34px;
    width: 34px;
  }
}

.icon-tele2 {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2723px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-tele2 {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2723px;
    height: 15px;
    width: 40px;
  }
}

.icon-sms {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2686px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-sms {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2686px;
    height: 32px;
    width: 32px;
  }
}

.icon-visa-mc {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2784px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 41px;
  width: 34px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-visa-mc {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2784px;
    height: 41px;
    width: 34px;
  }
}

.icon-arrow-right-grey {
  width: 10px;
  height: 10px;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.icon-mailing-cancel {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -691px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mailing-cancel {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -691px;
    height: 60px;
    width: 60px;
  }
}

.icon-empty-interested {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -586px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 58px;
  width: 57px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-empty-interested {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -586px;
    height: 58px;
    width: 57px;
  }
}

.icon-red-lock {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2001px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-red-lock {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2001px;
    height: 19px;
    width: 16px;
  }
}

.icon-reg-camera {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -2070px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-reg-camera {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -2070px;
    height: 100px;
    width: 100px;
  }
}

.icon-confirmed-photo {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -293px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 128px;
  width: 128px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-confirmed-photo {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -293px;
    height: 128px;
    width: 128px;
  }
}

.icon-photo-confirm-success {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1160px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 117px;
  width: 117px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-confirm-success {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1160px;
    height: 117px;
    width: 117px;
  }
}

.icon-photo-confirm-clocks {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -1107px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-photo-confirm-clocks {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -1107px;
    height: 48px;
    width: 48px;
  }
}

.icon-mask-cross {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -426px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-cross {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -426px;
    height: 14px;
    width: 13px;
  }
}

.icon-mask-success {
  background-image: url('../images/icons-s21dacd475c.png');
  background-position: 0 -544px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-mask-success {
    background-image: url('../images/icons-2x-s6f28da27aa.png');
    background-size: 218px auto;
    background-position: 0 -544px;
    height: 10px;
    width: 14px;
  }
}

/*# sourceMappingURL=icons.css.map */
