{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper m-mailing-100vh-gray">
    <div class="container">
       <div class="js-wallet-premium-slider wallet-premium-slider owl-carousel owl-theme">
           {% for i in 0..3 %}
               <div class="fw-flex fw-flex-middle fw-flex-center fw-pt-20 fw-pb-10">
                   <img src="/web/images/DTC/messages.png"  alt="">
                   <p class="fw-fz-14 ffr fw-ml-10 fw-mb-0">
                       Отправляйте сообщения и <br>
                       делайте анонимные звонки
                   </p>
               </div>
           {% endfor %}
       </div>

        <form action="" class="fw-pb-20">
            <div class="fw-pt-20 fw-grid fw-grid-10">
                <div class="fw-width-1-2">
                    <div class="fw-width-1-1 fw-height-90">
                        <input type="radio" name="premium" value="4000" id="premium1" class="js-buy-premium-for-dtc no-style fw-hidden gender-input" />
                        <label class="fw-border-style-solid fw-border-width-1 fw-border-color-gray4 fw-width-1-1 fw-height-1-1 radio-gender-label fw-flex-column fw-mb-0 fw-flex fw-flex-middle fw-flex-center fw-padding-13 fw-border-radius-3" for="premium1">
                            <span class="fw-block ffr fw-fz-14">Навсегда</span>
                            <span class="fw-block fw-mb-10 fw-fz-12 fw-color-gray-light">Только за DTC</span>
                            <span class="fw-flex fw-flex-middle fw-fz-14 ffr fw-color-purple"><img src="/web/images/DTC/dtc2.png" class="fw-mr-15 fw-block" alt=""> 4000 DTC</span>
                        </label>
                    </div>
                </div>

                <div class="fw-width-1-2">
                    <div class="fw-width-1-1 fw-height-90">
                        <input type="radio" name="premium" value="2890 P" data-dtc-val="1" id="premium2" class="js-premium-radio-input no-style fw-hidden gender-input" />
                        <label class="fw-border-style-solid fw-border-width-1 fw-border-color-gray4 fw-width-1-1 fw-height-1-1 radio-gender-label fw-flex-column fw-mb-0 fw-flex fw-flex-middle fw-flex-center fw-padding-13 fw-border-radius-3" for="premium2">
                            <span class="fw-block ffr fw-fz-14">Месяц</span>
                            <span class="fw-block fw-mb-5 fw-text-center fw-fz-12 fw-color-gray-light">+ Подъем анкеты <br>+ 2 рассылки</span>
                            <span class="fw-block ffr fw-fz-14">2890 P</span>
                        </label>
                    </div>
                </div>

                <div class="fw-width-1-2">
                    <div class="fw-width-1-1 fw-height-90">
                        <input type="radio" name="premium" value="1658 P" data-dtc-val="2" id="premium3" class="js-premium-radio-input no-style fw-hidden gender-input" />
                        <label class="fw-border-style-solid fw-border-width-1 fw-border-color-gray4 fw-width-1-1 fw-height-1-1 radio-gender-label fw-flex-column fw-mb-0 fw-flex fw-flex-middle fw-flex-center fw-padding-13 fw-border-radius-3" for="premium3">
                            <span class="fw-block ffr fw-fz-14">2 недели</span>
                            <span class="fw-block fw-mb-5 fw-text-center fw-fz-12 fw-color-gray-light">+ 1 рассылки</span>
                            <span class="fw-block ffr fw-fz-14">1658 Р</span>
                        </label>
                    </div>
                </div>

                <div class="fw-width-1-2">
                    <div class="fw-width-1-1">
                        <input type="radio" name="premium" value="689 P" data-dtc-val="3" id="premium4" class="js-premium-radio-input no-style fw-hidden gender-input" />
                        <label class="fw-border-style-solid fw-border-width-1 fw-border-color-gray4 fw-width-1-1 fw-height-1-1 radio-gender-label fw-flex-column fw-mb-0 fw-flex fw-flex-middle fw-flex-center fw-padding-13 fw-border-radius-3" for="premium4">
                            <span class="fw-block ffr fw-fz-14">3 дня</span>
                            <span class="fw-block fw-mb-5 fw-text-center fw-fz-12 fw-color-gray-light">Без доп. опций</span>
                            <span class="fw-block ffr fw-fz-14">689 Р</span>
                        </label>
                    </div>
                </div>
            </div>

            <p class="fw-fz-12 fw-color-gray-light fw-mt-13 fw-mb-13 fw-text-center">Доп. опции в подарок только при первой покупке</p>

            <button type="submit" class="fw-hidden js-buy-premium-btn fw-width-1-1 fw-block fw-relative m-purple-btn fw-fz-16 fw-pt-9 fw-pb-9 fw-color-white fw-text-center fw-margin-0 fw-border-radius-3">Купить за <span class="js-buy-premium-price">2890 Р</span></button>
            <button type="submit" class="fw-hidden js-buy-premium-for-dtc-btn fw-border-color-gray-btn fw-bg-color-gray-btn fw-border-radius-3 fw-pointer fw-fz-14 fw-width-1-1 fw-flex fw-flex-center fw-flex-middle fw-color-purple2 fw-height-40"><img src="/web/images/DTC/logo_dtc.svg" class="fw-width-20 fw-height-20 fw-mr-10" alt=""> Купить за &nbsp;<span class="premium-dtc-price-text">2</span>&nbsp; DTC ≈ &nbsp;<span class="js-convert-dtc">2014</span>&nbsp; Р</button>
        </form>

    </div>
</div>
{% endblock %}



