{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper m-mailing-100vh-gray">
    <div class="container fw-no-padding">
        {# ______________________________________ HOW BUY DTC________________________________ #}
        <div id="how-buy-dtc" class="js-how-buy-dtc">

            <div id="dtc-accordeon" class="js-dtc-accordeon fw-mt-35">
                <div class="fw-pl-15 dtc-accordeon--head fw-border-style-solid-bottom fw-border-width-1 fw-border-color-gray4 js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
                    Как купить токены  DTC  <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray-light"></span>
                </div>
                <div class="fw-pr-15 fw-pl-15 dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
                    Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
                    <br><br>
                    Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
                </div>

                <div class="fw-border-style-solid-bottom fw-border-width-1 fw-border-color-gray4 fw-pl-15 dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
                    Как завести ETH кошелек  <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray-light"></span>
                </div>
                <div class="fw-pr-15 fw-pl-15 dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
                    Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
                    <br><br>
                    Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
                </div>

                <div class="fw-border-style-solid-bottom fw-border-width-1 fw-border-color-gray4 fw-pl-15 dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
                    На какой бирже купить токен <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray-light"></span>
                </div>
                <div class="fw-pr-15 fw-pl-15 dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
                    Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
                    <br><br>
                    Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
                </div>

                <div class="fw-border-style-solid-bottom fw-border-width-1 fw-border-color-gray4 fw-pl-15 dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
                    Сколько времени занимает зачисление токена <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray-light"></span>
                </div>
                <div class="fw-pr-15 fw-pl-15 dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
                    Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
                    <br><br>
                    Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
                </div>

            </div>
        </div>
        {# _______________________________________/___________________________________________ #}
    </div>
</div>
{% endblock %}



