{% extends 'layout/layout.twig' %}

{% block profile %}
    <div class="m-mailing-main-wrapper m-mailing-100vh-gray">
        <div class="container">
            <form action="" class="fw-overflow-hidden fw-width-1-1 fw-pt-15" id="activate-mailing-9-hours">
                <textarea class="fw-width-1-1 m-input-style fw-height-100" name="" id="" cols="30" rows="10" placeholder="Текст рассылки"></textarea>

                <p class="fw-pt-20 fw-pb-20 fw-margin-0 fw-fz-14 fw-color-gray-light">Кому показывать рассылку</p>

                <div class="field_wrap age_slider_wrap fw-flex fw-flex-column">
                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-mb-10">
                        <span class="fw-fz-16">Возраст</span>
                        <span class="filter-amount1 fw-fz-16 fw-color-gray-light">18 - 35</span>
                    </div>

                    <div id="age_slider2" class="age_slider fw-pl-5 fw-pr-5 jquery_bootstrap_slider range">
                        <input id="age_slider" class="range_slider_jquery_sod" type="text" value="" data-slider-min="18" data-slider-max="35" data-slider-step="1" data-slider-value="[18,35]"/>
                    </div>
                </div>

                <div class="line_wrap fw-mb-10">
                    <div class="citysearch__new-select__wrapper">
                        <input type="text" class="citysearch__new-select m-input-style city-search registration-city-search" id="client_city" placeholder="Введите город"/>
                        <input class="hidden-city-search" name="client[city]" type="hidden"/>
                        <i class="icon--new-select__clean"></i>
                    </div>
                </div>

                <div class="select_wrap fw-mb-20">
                    <select name="" class="selectpicker gray_select_style display_block">
                        <option value="44" selected>Исключить из рассылки</option>
                        <option value="45">Не исключать</option>
                    </select>
                </div>

                <span class="fw-fz-14 fw-color-gray-light fw-mb-20 fw-block">Теги</span>
                <ul class="">
                    <li class="fw-mb-10 fw-flex fw-flex-left">
                        <div class="mailing-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="sponsor21">
                            <label for="sponsor21" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <i class="icomoon icomoon-check fw-color-green"></i>
                                </div>

                                <div class="left fw-flex fw-flex-left fw-flex-middle fw-ml-15">
                                    <p class="fw-fz-16 fw-margin-0">Ищу спонсора</p>
                                </div>
                            </label>
                        </div>
                    </li>

                    <li class="fw-mb-10 fw-flex fw-flex-left">
                        <div class="mailing-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="relationship21">
                            <label for="relationship21" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <i class="icomoon icomoon-check fw-color-green"></i>
                                </div>

                                <div class="left fw-flex fw-flex-left fw-flex-middle fw-ml-15">
                                    <p class="fw-fz-16 fw-margin-0">Постоянные отношения</p>
                                </div>
                            </label>
                        </div>
                    </li>

                    <li class="fw-mb-10 fw-flex fw-flex-left">
                        <div class="mailing-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="evening21">
                            <label for="evening21" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <i class="icomoon icomoon-check fw-color-green"></i>
                                </div>

                                <div class="left fw-flex fw-flex-left fw-flex-middle fw-ml-15">
                                    <p class="fw-fz-16 fw-margin-0">Провести вечер</p>
                                </div>
                            </label>
                        </div>
                    </li>

                    <li class="fw-mb-10 fw-flex fw-flex-left">
                        <div class="mailing-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="travels21">
                            <label for="travels21" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <i class="icomoon icomoon-check fw-color-green"></i>
                                </div>

                                <div class="left fw-flex fw-flex-left fw-flex-middle fw-ml-15">
                                    <p class="fw-fz-16 fw-margin-0">Совместные путешествия</p>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>

                <button type="submit" class="fw-mt-30 fw-mb-30 fw-border-radius-3 fw-bg-color-purple2 fw-color-white fw-fz-16 fw-width-1-1 fw-height-50 fw-flex fw-flex-middle fw-flex-center">Сохранить изменения</button>
            </form>
        </div>
    </div>
{% endblock %}



