{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper fw-bg-color-gray3 m-mailing-100vh-gray">
    <div class="container fw-no-padding">
        <nav class="m-mailing-menu fw-width-1-1 fw-bg-color-gray2 fw-pt-15 fw-pb-15">
            <ul class="fw-margin-auto fw-flex fw-flex-center fw-padding-0 fw-flex-middle fw-list-style-none">
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-fz-14" href="#">Все</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Интересы</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Мои</a></li>
            </ul>
        </nav>

        {# mailing broadcast_female-my_moderation #}
        <div class="fw-width-1-1 fw-bg-color-gray3 fw-pt-10 fw-height-1-1">
            <div class="fw-width-1-1 fw-pt-20 fw-pb-20 fw-pl-15 fw-pr-15 fw-mb-10 fw-flex fw-flex-middle fw-flex-space-between">
               <div class="">
                   <p class="fw-fz-14 fw-color-gray-light fw-margin-0">Активная рассылка</p>
                   <p class="fw-fz-12 fw-color-gray-light fw-margin-0">На модерации</p>
               </div>

                <div class="fw-width-24 fw-height-24 fw-border-radius-percent-50 fw-bg-color-blue-light fw-flex fw-flex-middle fw-flex-center">
                    <i class="fw-color-white fw-fz-22 icomoon icomoon-moderation2"></i>
                </div>
            </div>
        </div>

        <div class="">
            <div class="m-mailing-archive--item fw-mb-30 mailing-block-border-top-bottom fw-bg-color-white fw-width-1-1 fw-pt-15 fw-pb-17 fw-pl-15 fw-pr-15">
                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pb-10">
                    <div class="fw-color-gray-light">
                        <span>Нижний Новгород</span>
                        <span>•</span>
                        <span>14 мар 2018</span>
                    </div>

                    <i class="fw-color-gray-light fw-pointer fw-fz-18 icomoon icomoon-dots-three-horizontal"></i>
                </div>

                <p class="fw-fz-14 fw-pb-10 fw-margin-0">
                    Ищу достойного и обеспеченного хозяина, для совместного проживания
                </p>

                <ul class="m-mailing-tags fw-color-gray-light fw-list-style-none fw-flex fw-flex-middle fw-flex-left fw-flex-wrap fw-padding-0 fw-margin-0">
                    <li><a href="#" class="fw-fz-12 fw-ml-15">#Постоянные отношения</a></li>
                </ul>
            </div>
        </div>
        {# end #}
    </div>
</div>
{% endblock %}



