{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper fw-bg-color-gray3 m-mailing-100vh-gray">
    <div class="container fw-no-padding">
        <nav class="m-mailing-menu fw-width-1-1 fw-bg-color-gray2 fw-pt-15 fw-pb-15">
            <ul class="fw-margin-auto fw-flex fw-flex-center fw-padding-0 fw-flex-middle fw-list-style-none">
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-fz-14" href="#">Все</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Интересы</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Мои</a></li>
            </ul>
        </nav>

        {# create mailing #}
        <div class="fw-width-1-1 fw-bg-color-gray3 fw-pt-10 fw-height-1-1">
            <div class="m-create-mailing mailing-block-border-top-bottom fw-bg-color-white fw-width-1-1 fw-pt-10 fw-pb-10 fw-pl-15 fw-pr-15 fw-mb-10 fw-flex fw-flex-middle">
               <div class="fw-min-width-40">
                   <a href="#" class="fw-width-40 fw-height-40 fw-border-radius-percent-50 fw-flex fw-flex-middle fw-flex-center fw-bg-color-purple2"><i class="fw-color-white fw-fz-30 icomoon icomoon-plus"></i></a>
               </div>

                <div class="fw-pl-15 fw-ml-5">
                    <span class="fw-fz-16 fw-color-purple2 fw-block fw-pb-5">Создать рассылку</span>
                    <p class="fw-fz-14 fw-color-gray-light">Мгновенно найдите девушек для своих целей – не тратьте время на изучение анкет и переписку</p>
                </div>
            </div>
        </div>
        {# end #}

        {# mailing archive #}
        <div class="m-mailing-archive fw-pt-10 fw-bg-color-gray3 fw-pb-25">
            <div class="m-mailing-archive--item mailing-block-border-top-bottom fw-bg-color-white fw-width-1-1 fw-pt-15 fw-pb-15 fw-pl-15 fw-pr-15">
                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pb-10">
                    <div class="fw-color-gray-light">
                        <span>Нижний Новгород</span>
                        <span>•</span>
                        <span>14 мар 2018</span>
                    </div>

                    <i class="fw-color-gray-light fw-pointer fw-fz-18 icomoon icomoon-dots-three-horizontal"></i>
                </div>

                <p class="fw-fz-14 fw-pb-10 fw-margin-0">
                    Ищу достойного и обеспеченного хозяина, для совместного проживания
                </p>

                <ul class="m-mailing-tags fw-color-gray-light fw-list-style-none fw-flex fw-flex-middle fw-flex-left fw-flex-wrap fw-padding-0 fw-margin-0">
                    <li><a href="#" class="fw-fz-12 fw-ml-15">#Постоянные отношения</a></li>
                </ul>

                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-20">
                    <div class="">
                        <img src="http://placehold.it/100x100" class="fw-width-30 fw-height-30 fw-border-radius-percent-50" alt="">
                        <span class="fw-ml-10 fw-fz-14">Александра, <span>21</span></span>
                    </div>

                    <div class="fw-flex fw-flex-middle">
                        <a href="#" class="fw-white-btn-border fw-border-radius-3 fw-mr-13 fw-pointer fw-fz-14 fw-width-120 fw-flex fw-flex-center fw-flex-middle fw-color-purple2 fw-height-30">Написать</a>

                        <div class="mailing-like-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="m-check1">
                            <label for="m-check1" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <img src="web/images/like1.svg" class="fw-width-24" alt="">
                                    <i class="icomoon icomoon-like fw-block fw-fz-23"></i>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-mailing-archive--item mailing-block-border-top-bottom fw-bg-color-white fw-width-1-1 fw-pt-15 fw-pb-15 fw-pl-15 fw-pr-15">
                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pb-10">
                    <div class="fw-color-gray-light">
                        <span>Нижний Новгород</span>
                        <span>•</span>
                        <span>14 мар 2018</span>
                    </div>

                    <i class="fw-color-gray-light fw-pointer fw-fz-18 icomoon icomoon-dots-three-horizontal"></i>
                </div>

                <p class="fw-fz-14 fw-pb-10 fw-margin-0">
                    Ищу достойного и обеспеченного хозяина, для совместного проживания
                </p>

                <ul class="m-mailing-tags fw-color-gray-light fw-list-style-none fw-flex fw-flex-middle fw-flex-left fw-flex-wrap fw-padding-0 fw-margin-0">
                    <li><a href="#" class="fw-fz-12 fw-ml-15">#Постоянные отношения</a></li>
                </ul>

                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-20">
                    <div class="">
                        <img src="http://placehold.it/100x100" class="fw-width-30 fw-height-30 fw-border-radius-percent-50" alt="">
                        <span class="fw-ml-10 fw-fz-14">Александра, <span>21</span></span>
                    </div>

                    <div class="fw-flex fw-flex-middle">
                        <a href="#" class="fw-white-btn-border fw-border-radius-3 fw-mr-13 fw-pointer fw-fz-14 fw-width-120 fw-flex fw-flex-center fw-flex-middle fw-color-purple2 fw-height-30">Написать</a>
                        <div class="mailing-like-checkbox">
                            <input type="checkbox" class="no-style js-m-select-users-checkbox" id="m-check1">
                            <label for="m-check1" class="fw-flex fw-flex-space-between fw-flex-middle">
                                <div class="fake-label fw-flex fw-border-radius-percent-50 fw-flex-middle fw-flex-center">
                                    <img src="web/images/like1.svg" class="fw-width-24" alt="">
                                    <i class="icomoon icomoon-like fw-block fw-fz-23"></i>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-mailing-archive--item mailing-block-border-top-bottom fw-bg-color-white fw-width-1-1 fw-pt-15 fw-pb-15 fw-pl-15 fw-pr-15">
                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pb-10">
                    <div class="fw-color-gray-light">
                        <span>Нижний Новгород</span>
                        <span>•</span>
                        <span>14 мар 2018</span>
                    </div>

                    <i class="fw-color-gray-light fw-pointer fw-fz-18 icomoon icomoon-dots-three-horizontal"></i>
                </div>

                <p class="fw-fz-14 fw-pb-10 fw-margin-0">
                    Ищу достойного и обеспеченного хозяина, для совместного проживания
                </p>

                <ul class="m-mailing-tags fw-color-gray-light fw-list-style-none fw-flex fw-flex-middle fw-flex-left fw-flex-wrap fw-padding-0 fw-margin-0">
                    <li><a href="#" class="fw-fz-12 fw-ml-15">#Постоянные отношения</a></li>
                </ul>

                <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-20">
                    <div class="">
                        <img src="http://placehold.it/100x100" class="fw-width-30 fw-height-30 fw-border-radius-percent-50" alt="">
                        <span class="fw-ml-10 fw-fz-14">Александра, <span>21</span></span>
                    </div>
                </div>
            </div>
        </div>
        {# end #}

    </div>
</div>
{% endblock %}



