{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper fw-bg-color-white">
    <div class="container">
        <div class="fw-width-1-1 fw-text-center fw-flex fw-flex-column fw-flex-middle fw-flex-center m-mailing-100vh-gray fw-pl-15 fw-pr-15">
            <i class="fw-fz-63 fw-color-gray icomoon icomoon-time2"></i>

            <p class="fw-fz-16 fw-color-gray-light fw-pt-20 fw-margin-0">
                Увы, пока ни одной девушки не откликнулось
            </p>

            <p class="fw-fz-14 fw-color-gray-light fw-pt-10 fw-margin-0">
                Попробуйте сделать текст Вашего объявления более привлекательным, заполните подробнее вашу анкету, добавьте фотографию в профиль или подождите еще немного
            </p>
        </div>
    </div>
</div>
{% endblock %}



