{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-mailing-main-wrapper fw-bg-color-gray3 m-mailing-100vh-gray">
    <div class="container">
        <nav class="m-mailing-menu fw-width-1-1 fw-bg-color-gray2 fw-pt-15 fw-pb-15">
            <ul class="fw-margin-auto fw-flex fw-flex-center fw-padding-0 fw-flex-middle fw-list-style-none">
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-fz-14" href="#">Все</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Интересы</a></li>
                <li><a class="fw-width-90 fw-flex fw-flex-middle fw-flex-center fw-bg-color-white fw-height-30 mailing-purple-hover fw-block fw-border-radius-3 fw-ml-10 fw-fz-14" href="#">Мои</a></li>
            </ul>
        </nav>

        {# create mailing #}
        <div class="fw-width-1-1 fw-text-center fw-flex fw-flex-column fw-flex-middle fw-flex-center m-mailing-100vh-172">
            <i class="fw-fz-63 fw-color-gray icomoon icomoon-pad-lock"></i>

            <p class="fw-fz-16 fw-color-gray-light fw-pt-20">
                Вы неоднократно нарушили <br> <a href="#" class="fw-color-purple2">правила</a>. Возможность создавать <br> рассылку отключена
            </p>
        </div>
        {# end #}

    </div>
</div>
{% endblock %}



