{% extends 'layout/layout.twig' %}

{% block content %}
    <h1>Женский профиль</h1> <br><br>

    <span>Основное фото не прошло модерацию. Анкета временно неактивна</span> <br><br>
    <button data-call-popup="#female-main-photo-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Вы не назначили оснонвное фото. Анкета временно неактивна</span> <br><br>
    <button data-call-popup="#female-photo-main-empty">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото из альбома повторно не прошло модерацию. Анкета заблокирована</span> <br><br>
    <button data-call-popup="#block-female-photo-album-again">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото для подтверждение не прошло модерацию</span> <br><br>
    <button data-call-popup="#block-female-photo-verification">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото из альбома не прошло модерацию</span> <br><br>
    <button data-call-popup="#block-female-photo-album">открыть</button>
    <br><br> <hr> <br><br>

    <span>Удалить основное фото?</span> <br><br>
    <button data-call-popup="#profile-male-photo-main-delete">открыть</button>
    <br><br> <hr> <br><br>



    <h1>Мужской профиль</h1> <br><br>
    <span>Вы не назначили оснонвное фото. Анкета временно неактивна</span> <br><br>
    <button data-call-popup="#male-photo-main-empty">открыть</button>
    <br><br> <hr> <br><br>

    <span>Выбрыть фото</span> <br><br>
    <button data-call-popup="#block-male-photo-main-change">открыть</button>
    <br><br> <hr> <br><br>

    <span>Добавить фото</span> <br><br>
    <button data-call-popup="#m-popup-profile-male-photo-add">открыть</button>
    <br><br> <hr> <br><br>

    <span>m-profile-male-photo-albu</span> <br><br>
    <button data-call-popup="#m-profile-male-photo-album">открыть</button>
    <br><br> <hr> <br><br>

    <span>m-profile-male-photo-album-moderation</span> <br><br>
    <button data-call-popup="#m-profile-male-photo-album-moderation">открыть</button>
    <br><br> <hr> <br><br>

    <span>m-profile-male-photo-main-change-edit</span> <br><br>
    <button data-call-popup="#m-profile-male-photo-main-change-edit">открыть</button>
    <br><br> <hr> <br><br>


    <h1>Рассылка</h1> <br><br>
    <span>Рассылка не прошла модерацию и сохранена в архив</span> <br><br>
    <button data-call-popup="#m-mailing-no-moderation">открыть</button>
    <br><br> <hr> <br><br>

    <span>Правила рассылки</span> <br><br>
    <button data-call-popup="#m-mailing-rules-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Создание рассылки</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-create-term">открыть</button>
    <br><br> <hr> <br><br>

    <span>Рассылка активирована</span> <br><br>
    <button data-call-popup="#m-mailing-activated-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваша текущая рассылка остановлена за несоответствие правилам сервиса</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-admin-stop-modal">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваша рассылка заблокирована за повторное нарушение правил и будет удалена</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-admin-block-modal">открыть</button>
    <br><br> <hr> <br><br>

    <span>Удаление рассылки</span> <br><br>
    <button data-call-popup="#m-mailing-delete-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Остановка рассылки</span> <br><br>
    <button data-call-popup="#m-stop-mailing-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Рассылка отправлена на модерацию</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-female-create-complete">открыть</button>
    <br><br> <hr> <br><br>

    <span>Редактировать Остановить Удалить</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-my-actual-broadcast-actions">открыть</button>
    <br><br> <hr> <br><br>

    <span>Удалить</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-my-actual-broadcast-actions-2">открыть</button>
    <br><br> <hr> <br><br>

    <span>Вы проявили интерес</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-all-more-action">открыть</button>
    <br><br> <hr> <br><br>

    <span>Пожаловаться</span> <br><br>
    <button data-call-popup="#m-mailing-broadcast-all-more-action-complaint">открыть</button>
    <br><br> <hr> <br><br>

{% endblock %}
