{% extends 'layout/layout.twig' %}

{% block album %}
<div class="m-profile profile-female-status-photo-main-empty">
    <div class="container">
        <div class="fw-height-100 fw-bg-color-red fw-relative">
            {#  прелоадер  #}
            <div class="preloader-wrap">
                <div class="preloader"></div>
            </div>
            {#  #}
        </div>
    </div>
</div>
{% endblock %}



