{% extends 'layout/layout.twig' %}

{% block album %}

        <form class="fw-relative fw-text-left fw-relative">
            <div class="container fw-100vh-112px fw-pt-20 fw-font-futura">
                <p class="fw-fz-22 fw-mb-20 fw-line-height-25">Добавьте фотографии в альбом</p>
                <div class="m-profile-album">
                    <span class="m-profile-album-title fw-block fw-pb-15 fw-fz-14 fw-line-height-18 fw-color-gray-light">Фотоальбом</span>
                    {# slider album #}
                    <div class="m-profile-album-slider owl-carousel owl-theme">
                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <label class="load-field-label fw-pointer fw-border-radius-3 fw-width-1-1 fw-height-1-1 fw-relative fw-flex fw-flex-center fw-flex-middle">
                                <span class="icomoon icomoon-photo-plus fw-fz-30 fw-color-purple"></span>
                                <input id="slider-load-img-input" class="m-load-avatar-input" type="file" accept="image/*">
                                <span class="loader"></span>
                            </label>
                        </div>

                        <div class="m-profile-album-slider--slide fw-relative fw-width-90 fw-height-90">
                            <div class="blur-overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1 fw-border-radius-3">
                                <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
                            </div>

                            <span class="icomoon icomoon-profile-moderation-pending fw-absolute fw-bottom-5 fw-right-5 fw-fz-26">
                            <span class="path1"></span><span class="path2"></span>
                            </span>
                        </div>

                        <div class="m-profile-album-slider--slide fw-relative fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
                            <span class="icomoon icomoon-profile-moderation-pending fw-absolute fw-bottom-5 fw-right-5 fw-fz-26">
                            <span class="path1"></span><span class="path2"></span>
                            </span>
                        </div>

                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>

                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>

                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>

                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>

                        <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>
                    </div>
                </div>

                <a href="/profile-11.html" class="fw-block fw-mt-30 fw-mb-30 fw-color-btn-purple fw-fz-14 fw-line-height-16">Правила размещения фото</a>
            </div>

            <button class="fw-width-1-1 fw-block fw-bottom-0 fw-left-0 m-purple-btn fw-fz-16 fw-pt-15 fw-pb-15 fw-color-white fw-text-center fw-margin-0">
                Продолжить
            </button>
        </form>


{% endblock %}



