{% extends 'layout/layout.twig' %}

{% block album %}
<div style="display: block;" class="m-profile profile-female-status-photo-main-empty">
    <div class="m-container fw-pt-30 fw-text-center">
        <div class="fw-pl-15 fw-pr-15">
            <div class="m-green-icon-wrap fw-margin-auto fw-width-70 fw-height-70 fw-border-radius-percent-50 fw-flex fw-flex-center fw-flex-middle fw-mb-15">
                <i class="icomoon icomoon-check fw-color-white fw-fz-49"></i>
            </div>

            <h3 class="fw-fz-20 fw-mb-10">Анкета обновлена</h3>
            <p class="fw-fz-14 fw-mb-30 ">Так же, чтобы увеличить количество просмотров и откликов заполните дополнительные сведения о себе</p>

            <form action="#">
                <div class="m-female-update-select">
                    <div class="line_wrap">
                        <select class="selectpicker display_block gray_select_style service-select">
                            <option>Интересы</option>
                            <option value="1">интересы</option>
                            <option value="2">интересы</option>
                        </select>
                    </div>

                    <div class="line_wrap">
                        <select class="selectpicker display_block gray_select_style service-select">
                            <option>Обазование</option>
                            <option value="1">Обазование</option>
                            <option value="2">Обазование</option>
                        </select>
                    </div>

                    <div class="line_wrap">
                        <select class="selectpicker display_block gray_select_style service-select">
                            <option>Отношения</option>
                            <option value="1">Отношения</option>
                            <option value="2">Отношения</option>
                        </select>
                    </div>

                    <div class="line_wrap">
                        <select class="selectpicker display_block gray_select_style service-select">
                            <option>Дети</option>
                            <option value="1">Дети</option>
                            <option value="2">Дети</option>
                        </select>
                    </div>

                    <p class="fw-fz-14 fw-color-gray-light fw-text-left fw-pt-10 fw-pb-20">Сексуальные предпочтения</p>

                    <div class="select_wrap">
                        <select name="client[sexualPeriodicity]"
                                class="selectpicker gray_select_style display_block">
                            <option value="">Периодичность</option>
                            <option value="3"
                            >Несколько раз в день</option>
                            <option value="4"
                            >Хотя бы раз в день</option>
                            <option value="5"
                            >Несколько раз в неделю</option>
                            <option value="6"
                            >Несколько раз в месяц</option>
                            <option value="7"
                            >Секс не очень важен</option>
                        </select>
                    </div>
                    <div class="select_wrap">
                        <select name="client[sexualRole]"
                                class="selectpicker gray_select_style display_block">
                            <option value="">Роль в сексе</option>
                            <option value="4"
                            >Актив</option>
                            <option value="5"
                            >Пассив</option>
                            <option value="6"
                            >Бревно</option>
                        </select>
                    </div>
                    <div class="select_wrap">
                        <select name="client[sexualKind][]" class="selectpicker gray_select_style display_block" multiple>
                            <option value="" selected disabled>Вид секса</option>
                            <option value="3"
                            >Классический</option>
                            <option value="4"
                            >Виртуальный</option>
                            <option value="5"
                            >Оральный</option>
                            <option value="6"
                            >Анальный</option>
                            <option value="7"
                            >Групповой</option>
                        </select>
                    </div>

                    <div class="select_wrap">
                        <select name="client[sexualKind][]" class="selectpicker gray_select_style display_block" multiple>
                            <option value="" selected disabled>Ориентация</option>
                            <option value="3"
                            >пукт</option>
                            <option value="4"
                            >пукт</option>
                            <option value="5"
                            >пукт</option>
                            <option value="6"
                            >пукт</option>
                            <option value="7"
                            >пукт</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <button class="fw-width-1-1 m-purple-btn fw-fz-16 fw-pt-17 fw-pb-17 fw-mt-30 fw-color-white">Сохранить</button>
    </div>
</div>
{% endblock %}



