{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-profile profile-female-status-photo-main-empty">
        <div class="container fw-overflow-hidden fw-pt-15">
            <div class="m-profile-top-line fw-flex fw-flex-center fw-flex-left">
                <div class="m-profile-avatar fw-width-80 fw-height-80 fw-relative">
                    <div class="blur-overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1 fw-border-radius-percent-50">
                        <img src="http://placehold.it/200x200" class="fw-width-1-1 fw-height-1-1 fw-border-radius-percent-50" alt="">
                    </div>

                    <span class="icomoon icomoon-profile-moderation-pending fw-absolute fw-right-0 fw-bottom-0 fw-fz-26">
                    <span class="path1"></span><span class="path2"></span>
                    </span>

                </div>

                <div class="m-profile-titles fw-pl-15">
                    <h3 class="m-profile-name fw-fz-20 fw-line-height-25 fw-mb-2">Александр, 24</h3>
                    <span class="m-profile-city fw-block fw-fz-14 fw-line-height-18 fw-color-gray-light">Москва, Россия</span>
                </div>
            </div>

            <div class="m-profile-album fw-pt-15">
                <span class="m-profile-album-title fw-block fw-pb-15 fw-fz-14 fw-line-height-18 fw-color-gray-light">Фотоальбом</span>

                <div class="m-profile-album-slider owl-carousel owl-theme fw-flex">
                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <label class="load-field-label fw-border-radius-3 fw-width-1-1 fw-height-1-1 fw-relative fw-flex fw-flex-center fw-flex-middle">
                            <span class="icomoon icomoon-photo-plus fw-fz-30 fw-color-purple"></span>
                            <input id="slider-load-img-input" class="m-load-avatar-input" type="file" accept="image/*">
                            <span class="loader"></span>
                        </label>
                    </div>

                    <div class="m-profile-album-slider--slide fw-relative fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <div class="blur-overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1 fw-border-radius-3">
                            <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                        </div>

                        <span class="icomoon icomoon-profile-moderation-pending fw-absolute fw-bottom-5 fw-right-5 fw-fz-26">
                        <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container fw-pt-20 m-gray-bg fw-text-center">
            <div class="m-profile-empty-photo-wrap fw-pb-20">
                <p class="fw-fz-14 fw-color-gray-light">Пробный аккаунт, осталось:</p>
                <p class="fw-mt-10 fw-mb-15 fw-fz-16 fw-flex fw-flex-middle fw-flex-center"><i class="fw-color-gray-light fw-fz-20 fw-mr-9 icomoon icomoon-trial-account"></i> 30 минут</p>

                <button class="m-red-button fw-width-1-1 fw-pt-12 fw-pb-12 fw-color-white fw-fz-14">Подключить премиум</button>
            </div>

            <div class="m-profile-statistics fw-flex fw-flex-space-around fw-flex-top fw-mt-15">
                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Баланс</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">20 000 Р</span>
                </div>

                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Место в поиске</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">26756</span>
                </div>

                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Подарки</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">3</span>
                </div>
            </div>

            <div class="m-profile-text-status fw-relative bg-white fw-height-94 fw-width-1-1 fw-border-radius-3 fw-flex fw-flex-center fw-flex-middle fw-padding-20 fw-mt-25">
                <p class="fw-fz-14 fw-margin-0 fw-pt-40 fw-pb-40 fw-border-radius-3">Всем привет)</p>
                <i class="js-m-open-textarea fw-color-red icon-pencil fw-fz-18 fw-absolute fw-top-13 fw-right-10"></i>

                <form method="post" action="/ajax/profile" class="js-m-textarea-status-form m-textarea-status-form fw-absolute fw-width-1-1 fw-height-1-1">
                    <textarea name="client[aboutMe]" placeholder="Тут будет текст о Вас, напишите здесь самое главное. 2-3 предложения будет достаточно."></textarea>
                    <div class="">
                        <a href="#" class="js-m-textarea-status-save m-red-button fw-block fw-mt-10 fw-color-white fw-padding-5">
                            Сохранить
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="container fw-no-padding">
            <div class="m-sliders-profile fw-pt-20 m-gray-bg fw-pb-86 fw-text-center">
            <section class="section_block_separator profile_appearance profile_editing_page">
                <form method="post" class="profile-form ng-pristine ng-valid" id="appearance-form" action="/ajax/profile">
                    <div class="fw-width-1-1 bg-white fw-pt-20 fw-pb-20">
                        <div class="block_title clickable_open_hide">Внешность <span class="icon_edit icon-pencil"></span>
                        </div>
                    </div>

                    <div class="hidden_block with_bg">
                        <div class="fw-width-1-1">
                            <div class="block_content">
                                <div class="line_wrap age_slider_wrap clearfix">
                                    <div class="field_title">Рост</div>
                                    <div class="age_slider jquery_bootstrap_slider range">
                                        <input id="tall_slider" class="range_slider_jquery_sod" type="text" value="" data-slider-min="140" data-slider-max="200" data-slider-step="1" name="client[height]" data-slider-value="175"/>
                                        <div class="l_bl">140</div>
                                        <div class="r_bl">200</div>
                                    </div>
                                </div>

                                <div class="line_wrap age_slider_wrap clearfix">
                                    <div class="field_title">Вес</div>
                                    <div class="age_slider jquery_bootstrap_slider range">
                                        <input id="weight_slider" class="range_slider_jquery_sod" type="text" value="" data-slider-min="40" data-slider-max="150" data-slider-step="1" name="client[weight]" data-slider-value="60"/>
                                        <div class="l_bl">40</div>
                                        <div class="r_bl">150</div>
                                    </div>
                                </div>


                                <div class="line_wrap person_parametr_select_list">
                                    <div class="select_wrap">
                                        <select name="client[hairColor]" class="selectpicker gray_select_style display_block">
                                            <option value="" selected>Цвет волос</option>
                                            <option value="13">Блондин</option>
                                            <option value="14">Брюнет</option>
                                            <option value="15">Рыжий</option>
                                            <option value="16">Черный</option>
                                        </select>
                                    </div>

                                    <div class="select_wrap">
                                        <select name="client[eyeColor]" class="selectpicker gray_select_style display_block">
                                            <option value="">Цвет глаз</option>
                                            <option value="16">Карие</option>
                                            <option value="17" selected>Зеленые</option>
                                            <option value="18">Голубые</option>
                                            <option value="19">Серые</option>
                                        </select>
                                    </div>

                                    <div class="select_wrap">
                                        <select name="client[physique]" class="selectpicker gray_select_style display_block">
                                            <option value="">Телосложение</option>
                                            <option value="21" selected>Худощавый</option>
                                            <option value="22">Стандартный</option>
                                            <option value="23">Спортивный</option>
                                            <option value="24">Мускулистый</option>
                                            <option value="25">Плотный</option>
                                            <option value="26">Полный</option>
                                        </select>
                                    </div>

                                    <div class="select_wrap">
                                        <select name="client[appearance]" class="selectpicker gray_select_style display_block">
                                            <option value="">Внешность</option>
                                            <option value="3" selected>Европейская</option>
                                            <option value="4">Азиатская</option>
                                            <option value="5">Кавказская</option>
                                            <option value="6">Индийская</option>
                                            <option value="7">Испанская</option>
                                            <option value="8">Ближневосточная</option>
                                            <option value="9">Американская</option>
                                            <option value="10">Смешанная</option>
                                            <option value="11">Темнокожая</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="line_wrap text-center profile_save_button_wrap">
                                    <button type="submit" class="red_btn">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <section class="section_block_separator has_border goal_of_meet">
                <form method="post" class="profile-form" id="relationship-type-form"
                      action="/ajax/profile">
                    <input type="hidden" name="inset" value="relationship-type"/>

                    <div>
                        <div class="block_title clickable_open_hide fw-width-1-1 bg-white fw-pt-20 fw-pb-20">Цель знакомства <span
                                    class="icon_edit icon-pencil"></span>
                        </div>
                    </div>

                    <div class="hidden_block with_bg">
                        <div class="container">
                            <div class="block_content">
                                <div class="meet_goal fw-text-left">
                                    <div class="row">
                                        <label class="col-xs-12">
                                            <input type="checkbox" name="client[relationshipType][]"
                                                   value="19"
                                                   class="row_connector"
                                            />
                                            <span class="gray_circle"></span>
                                            <span class="label_text">Стану спонсором</span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-xs-12">
                                            <input type="checkbox" name="client[relationshipType][]"
                                                   value="23"
                                                   class="row_connector"
                                            />
                                            <span class="gray_circle"></span>
                                            <span class="label_text">Постоянные отношения</span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-xs-12">
                                            <input type="checkbox" name="client[relationshipType][]"
                                                   value="24"
                                                   class="row_connector"
                                            />
                                            <span class="gray_circle"></span>
                                            <span class="label_text">Провести вечер</span>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-xs-12">
                                            <input type="checkbox" name="client[relationshipType][]"
                                                   value="28"
                                                   class="row_connector"
                                                   checked />
                                            <span class="gray_circle"></span>
                                            <span class="label_text">Совместные путешествия</span>
                                        </label>
                                    </div>

                                    <div class="line_wrap text-center profile_save_button_wrap">
                                        <button type="submit" class="red_btn">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <section class="section_block_separator has_border sexual_preferences">
                <form method="post" class="profile-form" id="sexual-form"
                      action="/ajax/profile">
                    <input type="hidden" name="inset" value="sexual-kind"/>

                    <div>
                        <div class="block_title fw-width-1-1 bg-white fw-pt-20 fw-pb-20 clickable_open_hide">Сексуальные предпочтения
                            <span class="icon_edit icon-pencil"></span></div>
                    </div>
                    <div class="hidden_block with_bg">
                        <div class="container">
                            <div class="block_content">
                                <div class="sexual_preferences_block">
                                    <div class="line_wrap person_parametr_select_list">
                                        <div class="select_wrap">
                                            <select name="client[sexualPeriodicity]" class="selectpicker gray_select_style display_block">
                                                <option value="">Периодичность</option>
                                                <option value="3">Несколько раз в день</option>
                                                <option value="4">Хотя бы раз в день</option>
                                                <option value="5">Несколько раз в неделю</option>
                                                <option value="6">Несколько раз в месяц</option>
                                                <option value="7">Секс не очень важен</option>
                                            </select>
                                        </div>
                                        <div class="select_wrap">
                                            <select name="client[sexualRole]" class="selectpicker gray_select_style display_block">
                                                <option value="">Роль в сексе</option>
                                                <option value="4">Актив</option>
                                                <option value="5">Пассив</option>
                                                <option value="6">Бревно</option>
                                            </select>
                                        </div>
                                        <div class="select_wrap">
                                            <select name="client[sexualKind][]" class="selectpicker gray_select_style display_block" multiple>
                                                <option value="" selected disabled>Вид секса</option>
                                                <option value="3">Классический</option>
                                                <option value="4">Виртуальный</option>
                                                <option value="5">Оральный</option>
                                                <option value="6">Анальный</option>
                                                <option value="7">Групповой</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="line_wrap text-center profile_save_button_wrap">
                                        <button type="submit" class="red_btn">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <section class="section_block_separator has_border sexual_preferences">
                <form method="post" class="profile-form" id="" action="/ajax/profile">
                    <input type="hidden" name="inset" value="sexual-kind"/>

                    <div>
                        <div class="block_title fw-width-1-1 bg-white fw-pt-20 fw-pb-20 clickable_open_hide">Другое
                            <span class="icon_edit icon-pencil"></span></div>
                    </div>

                    <div class="hidden_block with_bg">
                        <div class="container">
                            <div class="block_content">
                                <div class="sexual_preferences_block">
                                    <div class="line_wrap person_parametr_select_list">
                                        <div class="select_wrap">
                                            <select name="client[sexualPeriodicity]" class="selectpicker gray_select_style display_block">
                                                <option value="">titlte</option>
                                                <option value="3">пункт</option>
                                                <option value="4">пункт</option>
                                                <option value="5">пункт</option>
                                                <option value="6">пункт</option>
                                                <option value="7">пункт</option>
                                            </select>
                                        </div>
                                        <div class="select_wrap">
                                            <select name="client[sexualRole]" class="selectpicker gray_select_style display_block">
                                                <option value="">titlte</option>
                                                <option value="4">пункт</option>
                                                <option value="5">пункт</option>
                                                <option value="6">пункт</option>
                                            </select>
                                        </div>
                                        <div class="select_wrap">
                                            <select name="client[sexualKind][]" class="selectpicker gray_select_style display_block" multiple>
                                                <option value="" selected disabled>title</option>
                                                <option value="3">пункт</option>
                                                <option value="4">пункт</option>
                                                <option value="5">пункт</option>
                                                <option value="6">пункт</option>
                                                <option value="7">пункт</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="line_wrap text-center profile_save_button_wrap">
                                        <button type="submit" class="red_btn">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        </div>
    </div>

{% endblock %}



