{% extends 'layout/layout.twig' %}

{% block profile %}
<div class="m-profile profile-female-status-photo-main-empty">
    <div class="container fw-overflow-hidden">
        <div class="fw-pt-15">
            <div class="m-profile-top-line fw-flex fw-flex-center fw-flex-left">
                <div class="m-profile-avatar">
                    <label class="drop-field-label fw-border-radius-percent-50 fw-width-80 fw-height-80 fw-relative fw-flex fw-flex-center fw-flex-middle">
                        <span class="icomoon icomoon-photo-plus fw-fz-30 fw-color-red"></span>
                        <input class="m-load-avatar-input" type="file" accept="image/*">
                        <span class="loader"></span>
                    </label>
                </div>

                <div class="m-profile-titles fw-pl-15">
                    <h3 class="m-profile-name fw-fz-20 fw-line-height-25 fw-mb-2">Анастасия, 18</h3>
                    <span class="m-profile-city fw-block fw-fz-14 fw-line-height-18 fw-color-gray-light">Москва, Россия</span>
                </div>
            </div>


            <div class="m-profile-album fw-pt-15">
                <span class="m-profile-album-title fw-block fw-pb-15 fw-fz-14 fw-line-height-18 fw-color-gray-light">Фотоальбом</span>

                <div class="m-profile-album-slider owl-carousel owl-theme fw-flex">
                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <label class="load-field-label fw-border-radius-3 fw-width-1-1 fw-height-1-1 fw-relative fw-flex fw-flex-center fw-flex-middle">
                            <span class="icomoon icomoon-photo-plus fw-fz-30 fw-color-purple"></span>
                            <input class="m-load-avatar-input no-style fw-hidden" type="file" accept="image/*">
                            <span class="loader"></span>
                        </label>
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>

                    <div class="m-profile-album-slider--slide fw-ml-5 fw-width-90 fw-height-90 fw-border-radius-3">
                        <img class="fw-width-1-1 fw-height-1-1" src="http://placehold.it/200x200" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="container fw-pt-20 m-gray-bg fw-pb-86 fw-text-center">
            <div class="m-profile-empty-photo-wrap fw-pb-20">
                <div class="icon-wrap fw-margin-auto">
                    <span class="icomoon icomoon-profile-photo-warning fw-fz-26">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                    </span>
                </div>

                <p class="fw-mt-10 fw-mb-5 fw-fz-16 ">Отсутствует основное фото</p>
                <p class="fw-mb-20 fw-fz-14 fw-color-gray-light">Добавьте основное фото, чтобы активировать анкету</p>

                <button class="m-add-main-photo-btn m-red-button fw-width-1-1 fw-pt-12 fw-pb-12 fw-color-white fw-fz-14 fw-mt-20">Добавить основное фото</button>
            </div>

            <div class="m-profile-infoblock m-gray-bg fw-pb-20 fw-pt-20">
                <p class="fw-fz-14 fw-color-gray-light" >Премиум аккаунт, осталось:</p>
                <p class="fw-fz-16 fw-pb-20 fw-flex fw-flex-middle fw-flex-center">
                    <i class="icomoon icomoon-premium-account fw-mr-7 fw-color-gray-light fw-fz-20"></i>
                    <span>29 </span> минут
                    <span class="icomoon icomoon-m-sale fw-fz-20 fw-ml-7">
                    <span class="path1"></span><span class="path2"></span>
                    </span>
                </p>

                <button class="m-red-button fw-width-1-1 fw-pt-12 fw-pb-12 fw-color-white fw-fz-14">Продлить со скидкой 15%</button>
            </div>

            <div class="m-profile-infoblock m-gray-bg fw-pb-20 fw-pt-20">
                <p class="fw-fz-14 fw-color-gray-light" >Премиум аккаунт, осталось:</p>
                <p class="fw-fz-16 fw-pb-20 fw-flex fw-flex-middle fw-flex-center">
                    <i class="icomoon icomoon-premium-account fw-mr-7 fw-color-gray-light fw-fz-20"></i>
                    <span>2 </span> дня
                </p>

                <button class="m-infoblock-white-btn fw-width-1-1 fw-pt-12 fw-pb-12 fw-color-red fw-fz-14">Продлить со скидкой 15%</button>
            </div>

            <div class="m-profile-infoblock m-gray-bg fw-pb-20 fw-pt-20">
                <p class="fw-fz-14 fw-color-red" >Истек срок действия пробного аккаунта</p>
                <p class="fw-fz-14 fw-color-gray-light fw-pb-20" >Подключите “премиум” для доступа к переписке, звонкам и расширенному поиску</p>

                <button class="m-red-button fw-width-1-1 fw-pt-12 fw-pb-12 fw-color-white fw-fz-14">Подключить премиум</button>
            </div>

            <div class="m-profile-statistics fw-flex fw-flex-space-around fw-flex-top fw-mt-15">
                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Баланс</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">20 000 Р</span>
                </div>

                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Место в поиске</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">26756</span>
                </div>

                <div class="m-profile-statistics--item fw-text-center">
                    <span class="m-profile-statistics--item-title fw-block fw-fz-14 fw-color-gray-light">Подарки</span>
                    <span class="m-profile-statistics--item-value fw-block fw-fz-16 fw-mt-3">3</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



