{% extends 'layout/layout.twig' %}

{% block album %}
<div style="display: block;" class="m-profile profile-female-status-photo-main-empty">
    <div class="container">
        <div class="m-album-page fw-pt-15 fw-flex fw-flex-middle fw-flex-left fw-flex-wrap">
            <div class="m-album-item fw-relative fw-ml-10 fw-mb-10 fw-width-90 fw-height-90">
                <div class="blur-overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1 fw-border-radius-3">
                    <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
                </div>

                <span class="icomoon icomoon-profile-moderation-pending fw-absolute fw-bottom-5 fw-right-5 fw-fz-26">
                <span class="path1"></span><span class="path2"></span>
                </span>
            </div>

            <div class="m-album-item  fw-ml-10 fw-mb-10 fw-width-90 fw-height-90">
                <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
            </div>

            <div class="m-album-item  fw-ml-10 fw-mb-10 fw-width-90 fw-height-90">
                <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
            </div>

            <div class="m-album-item  fw-ml-10 fw-mb-10 fw-width-90 fw-height-90">
                <img class="fw-width-1-1 fw-height-1-1 fw-border-radius-3" src="http://placehold.it/200x200" alt="">
            </div>

        </div>
    </div>
</div>
{% endblock %}



