{% extends 'layout/layout.twig' %}

{% block album %}

        <div class="m-popup-content fw-100vh-60px fw-relative fw-text-center fw-relative">
            <div class="container fw-pt-40">

                <div class="fw-margin-auto fw-width-110 fw-border-radius-percent-50 fw-height-110 fw-relative">
                    <div class="m-popup-block-image blur-overlay-album-photo-moderation photo-main-empty-img fw-margin-auto fw-width-1-1 fw-border-radius-percent-50 fw-height-1-1 fw-flex fw-flex-middle fw-flex-center fw-relative">
                        <img src="http://placehold.it/200x200" class="fw-border-radius-percent-50" alt="">
                    </div>

                    <div class="fw-absolute fw-right-0 fw-bottom-iverse-10">
                        <span class="icomoon icomoon-profile-moderation-pending fw-fz-40">
                        <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>
                </div>

                <p class="fw-text-center fw-font-futura fw-fz-20 fw-mt-20 fw-line-height-25">Основное фото отправлено <br> на модерацию</p>
                <p class="fw-text-center fw-font-futura fw-fz-14 fw-line-height-18 fw-pb-15 fw-pl-15 fw-pr-15">
                    Пока фото находится на модерации, другие пользователи будут видеть его размытым
                </p>

                <a href="#" class="fw-width-1-1 fw-block fw-absolute fw-bottom-0 fw-left-0 m-purple-btn fw-fz-16 fw-pt-15 fw-pb-15 fw-color-white fw-text-center fw-margin-0">
                    Продолжить
                </a>
            </div>
        </div>


{% endblock %}



