{% extends 'layout/layout.twig' %}

{% block album %}

        <div class="fw-relative fw-text-left fw-relative">
            <div class="container fw-100vh-116px fw-pt-20 fw-font-futura">
                <p class="fw-fz-22 fw-mb-20 fw-line-height-25">Правила размещения фотографий</p>
                <p class="fw-fz-14 fw-mb-5 fw-line-height-18 fw-color-gray-light">Допускаются фотографии:</p>
                <ul class="fw-padding-0 fw-list-style-none fw-fz-14 fw-line-height-18 fw-color-black fw-mb-20">
                    <li>1. На которых изображен реальный владелец анкеты</li>
                    <li>2. Четко и полностью видно лицо</li>
                    <li>3. Фотографии хорошего качества, без размытий, шумов, засветов, сделанные в дневное время суток</li>
                </ul>

                <p class="fw-fz-14 fw-mb-5 fw-line-height-18 fw-color-gray-light">Не допускаются фотографии:</p>
                <ul class="fw-padding-0 fw-list-style-none fw-fz-14 fw-line-height-18 fw-color-black fw-mb-20">
                    <li>1. Эротического, политического, религиозного характера</li>
                    <li>2. С третьими лицами (групповые фото), в том числе с детьми</li>
                    <li>3. Обрезанные фото (например, только части тела)</li>
                    <li>4. Содержащие сцены насилия, оружия и правонарушения</li>
                    <li>5. Нарушающие авторское право владельца</li>
                    <li>6. Несущие оскорбительный характер</li>
                    <li>7. Пропагандирующие употребление наркотиков, спиртных напитков и табакокурение</li>
                    <li>8. Несущие рекламу</li>
                    <li>9. Нарушающие законодательство РФ</li>
                </ul>

                <p class="fw-fz-14 fw-line-height-18 fw-color-black fw-mb-25">
                    Администрация в праве отказать в публикации фотографий без объяснения причин
                </p>
            </div>

            <a href="#" class="fw-width-1-1 fw-block fw-bottom-0 fw-left-0 m-purple-btn fw-fz-16 fw-pt-15 fw-pb-15 fw-color-white fw-text-center fw-margin-0">
                Продолжить
            </a>
        </div>


{% endblock %}



