$colorWhite: #fff
$colorRedLight: #ff666f
$colorRed: #f2535c
$colorPurple: #ba78c0
$colorBtnPurple: #ac5eb3
$colorBlue: #48abff
$colorGray: #d8d9d8
$colorGrayLight: #999
$colorGreenLight: #1bd355

$colors: (red: $colorRed, purple: $colorPurple, btn-purple: $colorBtnPurple, white: $colorWhite, red-light: $colorRedLight, blue: $colorBlue, gray: $colorGray, gray-light: $colorGrayLight, green-light: $colorGreenLight)