.m-profile-text-status
	cursor: pointer
	border: solid 1px #e7e7e7
.m-sliders-profile
	.section_block_separator .block_title
		background-color: #fff
		margin-bottom: 0
		text-align: left
		padding-left: 15px
		color: $colorPurple
	.section_block_separator .hidden_block.with_bg .block_content
		padding-left: 15px
		padding-right: 15px

	.section_block_separator
		padding: 0
		width: 100%

.blur-overlay
	filter: blur(1px)
	-webkit-filter: blur(1px)

@function pxtovw($px)
	@return ((100/1440)*$px)+vw

.m-album-page
	margin-left: -10px
.m-album-border
	border-bottom: 1px solid #000
.m-album-item
	width: 30.7333%
	.icomoon-profile-moderation-pending
		display: block

.m-minus-album-img
	background-color: $colorRed
	top: -6px
	left: -7px
	i
		cursor: pointer
.white-overlay
	background-color: rgba(#fff,.5)
	z-index: 2

.m-textarea-status-form
	display: none
	background: $colorGray
	textarea::-webkit-input-placeholder
		color: $colorGrayLight !important
	textarea::-moz-placeholder
		color: $colorGrayLight !important
	textarea:-moz-placeholder
		color: $colorGrayLight !important
	textarea:-ms-input-placeholder
		color: $colorGrayLight !important

.js-m-textarea-status-form--active
	display: block