=generate-framework($framework)
	@each $key in $framework
		$type: ""
		$direction: ""
		$val: ""
		$class: ""

		@if str_slice($key, 1, 1) == "m"
			$type: "margin"

		@else if str_slice($key, 1, 1) == "p"
			$type: "padding"

		@if str_slice($key, 2, 2) == "b"
			$direction: "bottom"

		@else if str_slice($key, 2, 2) == "t"
			$direction: "top"

		@else if str_slice($key, 2, 2) == "l"
			$direction: "left"

		@else if str_slice($key, 2, 2) == "r"
			$direction: "right"

		$val: str_slice($key, 3, -1)

		.#{$key}
			#{$type}-#{$direction}: #{$val}px

=plh
	&:-ms-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&::-webkit-input-placeholder
		@content
	&::placeholder
		@content

=transform($transform)
	transform: $transform
	-ms-transform: $transform
	-webkit-transform: $transform
	-moz-transform: $transform
	-o-transform: $transform

=origin($origin)
	-webkit-transform-origin: $origin
	-moz-transform-origin: $origin
	-o-transform-origin: $origin
	-ms-transform-origin: $origin
	transform-origin: $origin

=trans($trans: all 0.3s ease 0s)
	transition: $trans
	-moz-transition: $trans
	-webkit-transition: $trans
	-o-transition: $trans
	-ms-transition: $trans

@import _retina_sprites

=pos($var)
	@if $var == tm
		+transform(translateY(-50%))
		top: 50%
	@if $var == lm
		+transform(translateX(-50%))
		left: 50%
	@if $var == m
		+transform(translate3d(-50%, -50%, 0))
		top: 50%
		left: 50%